# **Fundamentals of Data Analysis 2021 - Assessment**

## Instructions
A Jupyter notebook called cao.ipynb that contains the following: 
- A clear and concise overview of how to load CAO points information from the CAO website into a pandas data frame, pitched as your classmates.
- A detailed comparison of CAO points in 2019, 2020, and 2021 using the functionality in pandas.
- Appropriate plots and other visualisations to enhance your notebook for viewers.

<br>

## **Part 2 - Analysing CAO Points Information from the CAO Website**

## **Table of Contents**
<br>

**[1.0 CAO Points Overview](#part1)**<br>
**[1.1 Calculation of CAO Points](#part1.1)**<br>
**[1.2 Application and Offers Process](#part.1.2)**<br>
**[2.0 Retrieving CAO Points Information](#part2)**<br>
&emsp; **[2.1 Preparation Steps](#part2.1)**<br>
&emsp;&emsp; **[2.1.1 Importing Required Modules](#part2.1.1)**<br>
&emsp;&emsp; **[2.1.2 Time Stamp Creation](#part2.1.1)**<br>
&emsp; **[2.2 Retrieving CAO Points from PDF Format (Year 2019](#part2.2)**<br>
&emsp;&emsp; **[2.2.1 Defining File Paths](#part2.2.1)**<br>
&emsp;&emsp; **[2.2.2 Extracting Data](#part2.2.2)**<br>
&emsp;&emsp; **[2.2.3 Exporting Data to csv](#part2.2.3)**<br>
&emsp;&emsp; **[2.2.4 Create Data Frame](#part2.2.4)**<br>
&emsp;&emsp; **[2.2.5 Remove Rows with College Names](#part2.2.5)**<br>
&emsp;&emsp; **[2.2.6 Set Course Code as Index](#part2.2.6)**<br>
&emsp; **[2.3 Retrieving CAO Points from Excel Format (Year 2020](#part2.3)**<br>
&emsp;&emsp; **[2.3.1 Defining File Path](#part2.3.1)**<br>
&emsp;&emsp; **[2.3.2 Extracting Data](#part2.3.2)**<br>
&emsp;&emsp; **[2.3.3 Creating the pandas Data Frame](#part2.3.3)**<br>
&emsp;&emsp; **[2.3.4 Exporting to csv File](#part2.3.4)**<br>
&emsp; **[2.4 Retrieving CAO Points from HTTP Format (Year 2021)](#part2.4)**<br>
**[3.0 Merging Data Frames](#part3)**<br>
**[4.0 Data Set Analysis](#part4)**<br>

**[References Used](#references)**

<br>

***

<a id= 'part1'></a>
## **1.0 CAO Points Overview**
This notebook analyses the minimum CAO points required for taking up undergraduate studies in Ireland for the years 2019 to 2021. <br><br>
The Central Applications Office (CAO) is an organisation that manages applications for higher education courses at colleges and universities in the Republic of Ireland.
The third level education application process is centrally managed by the CAO rather than by the individual higher education institutions (HEI). 


There are three types of third level qualifications within the Irish National Framework of Qualifications (NFQ).

NFQ Levels
- Level 6 - Higher Certificates (awarded by institutes of technology)
- Level 7 - Ordinary Bachelor Degree (awarded by institutes of technology and universities)
- Level 8 - Honours Bachelor Degree (awarded by institutes of technology and universities)


The applications are based on the points awarded to students for their exam results during the leaving certificate (the highest second level education degree). [[1]](#reference1), [[2]](#reference2), [[3]](#reference3), [[4]](#reference4)

<br>

<a id= 'part1.1'></a>
### **1.1 Calculation of CAO Points**

A student's six best subjects are counted towards the final score of maximum 625 points. For their leaving cert, students can opt to take courses at ordinary or higher level, the latter resulting in higher points assigned. 

**Points awarded for higher and ordinary level subjects:** [[5]](#reference5)

| Percentage Result | Grade <br>(Ordinary level) | Points <br>(Ordinary level) | Grade <br>(Higher level) | Points <br>( Higher Level) |
|---------|:---:|---:|:---:|----:|
| 90 +    | O1  | 56 | H1  | 100 |
| 80 - 89 | O2  | 46 | H2  | 88  |
| 70 - 79 | O3  | 37 | H3  | 77  |
| 60 - 69 | O4  | 28 | H4  | 66  |
| 50 - 59 | O5  | 20 | H5  | 56  |
| 40 - 49 | O6  | 12 | H6  | 46  |
| 30 - 39 | O7  | 0  | H7  | 37  |
| < 29    | O8  | 0  | H8  | 0   |


An extra 25 points can be awarded for a successful pass of the honours mathematical exams. [[6]](#reference6)

<br>

<a id= 'part1.2'></a>
### **1.2 Application and Offers Process**

The sum of a student's points for their six best subjects make up the CAO points so the highest possible points to be achieved can be 625. 

Students then apply to the CAO for their preferred courses submitting their CAO Points. For courses where the number of applicants exceeds the number of available places, the places are offered to students with the highest points. 

Offers are sent to applicants in 3 main rounds: 
- Round A: Deferred applicants, mature applicants, etc.
- Round Zero: Medicine applicants, additional mature, deferred and access applicants
- Round One: Applicants applying on the basis of school leaving cert results
- Round Two (and subsequent): Offers are issued until the end of the offer season or until all places have been filled. 

[[7]](#reference7)

<br>

***

<a id= 'part2'></a>
## **2.0 Retrieving CAO Points Information**

On their website the CAO provides an overview of the minimum points required to access each of the study courses. 
The CAO points information for the years 2019, 2020 and 2021 is maintained on the CAO website in different formats: 
- 2019: Two lists in pdf format, one for level 8 and one for level 6 and 7 courses
- 2020: A combined list for level 6, 7 and 8 in Excel (.xslx) format
- 2021: Two lists in http format, one for level 8 and one for level 6 and 7 courses

Due to the different file formats, different methods of retrieving the data need to be used.

<br>

***

<a id= 'part2.1'></a>
### **2.1 Preparation Steps**

<br>

<a id= 'part2.1.1'></a>
#### **2.1.1 Importing Required Modules**

As a first step, several Python packages need to be imported which will be used throughout the Notebook.

In [1]:
# Import the urllib.request module for downloading 
import urllib.request as urlrq

# Import the regular expressions package for matching strings
import re

# Import the requests module to access and retrieve data from HTTP websites
import requests as rq

# Import the datetime module for setting time stamps when naming locally saved copies of data files
import datetime as dt

# Import the pandas library for working with data frames
import pandas as pd

# Import the tabula module for accessing data in PDF files
import tabula

<br>

<a id= 'part2.1.2'></a>
#### **2.1.2 Time Stamp Creation**

Creating a time stamp of current date and time for saving local copies of files extracted from the internet or created as part of the analysis.

In [2]:
# Returns current date and time (as per computer time) using the datetime.now() function
now = dt.datetime.now()

In [3]:
# Convert the time stamp to string
nowstr = now.strftime('%Y%m%d_%H%M%S')

<br>

***

<a id= 'part2.2'></a>
### **2.2 Retrieving CAO Points from PDF Format (Year 2019)**
The 2019 data is provided on the CAO website as a pdf file. The tabula module can be used to access data in pdf documents. To be able to use it, it first needs to be installed. Using tabula also requires java to be installed on the machine. [[8]](#reference8)

Link to 2019 data on the CAO website: [CAO Points Required for Entry to 2019 Courses](http://www.cao.ie/index.php?page=points&p=2019)

<br>

<a id= 'part2.2.1'></a>
#### **2.2.1 Defining File Paths**

Defining the URL where the pdf files can be accessed and creating a file path for saving a local copy of the original pdf files.

In [4]:
# Define the URL
# Level 8 Courses
url2019_8 ='http://www2.cao.ie/points/lvl8_19.pdf'

# Level 6 and 7 Courses
url2019_67 = 'http://www2.cao.ie/points/lvl76_19.pdf'

In [5]:
# Create a file path for saving the original data
# Level 8 Courses
path2019_8 = 'data/cao2019_lv8' + nowstr + '.pdf'

# Level 6 and 7 Courses
path2019_67 = 'data/cao2019_lv67' + nowstr + '.pdf'

In [6]:
# Create a file path for saving the extracted data as csv
# Level 8 Courses
path2019_8csv = 'data/cao2019_8_' + nowstr + '.csv'

# Level 6 and 7 Courses
path2019_67csv = 'data/cao2019_67_' + nowstr + '.csv'

<br>

<a id= 'part2.2.2'></a>
#### **2.2.2 Extracting Data**

After saving the original pdf files, the data is extracted from the pdf files using the `read_pdf()` function of the tabula module. [[9]](#reference9)

In [7]:
# Save original pdf files to disk
# Level 8 Courses
urlrq.urlretrieve(url2019_8, path2019_8)

# Level 6 and 7 Courses
urlrq.urlretrieve(url2019_67, path2019_67)

('data/cao2019_lv6720220101_233727.pdf',
 <http.client.HTTPMessage at 0x2b55da38eb0>)

**Remove??**

In [8]:
# Extract data from pdf using the tabula package
from tabula import read_pdf

# Reading the data and display 
# Level 8
try: 
    df2019_8 = read_pdf(url2019_8, pages='all')
    print(df2019_8)
except Exception as e:
    print('Error {}'.format(e))

[   Course Code                             INSTITUTION and COURSE   EOS    Mid
0          NaN                    Athlone Institute of Technology   NaN    NaN
1        AL801    Software Design with Virtual Reality and Gaming   304  328.0
2        AL802               Software Design with Cloud Computing   301  306.0
3        AL803  Software Design with Mobile Apps and Connected...   309  337.0
4        AL805        Network Management and Cloud Infrastructure   329  442.0
5        AL810                                 Quantity Surveying   307  349.0
6        AL820                 Mechanical and Polymer Engineering   300  358.0
7        AL830                                    General Nursing   410  429.0
8        AL832                                Psychiatric Nursing   387  403.0
9        AL836                       Nutrition and Health Science   352  383.0
10       AL837            Sports Science with Exercise Physiology   351  392.0
11       AL838                                      Biotechnology   302  372.0
12       AL839                                       Microbiology   322  371.0
13       AL840                            Pharmaceutical Sciences   328  411.0
14       AL841                Athletic and Rehabilitation Therapy   423  430.0
15       AL842                              Bioveterinary Science   310  366.0
16       AL843               Physical Activity and Health Science   310  330.0
17       AL850                                           Business   307  356.0
18       AL851                                   Business and Law   301  341.0
19       AL852               Accounting (with optional placement)   290  346.0
20       AL853                                 Accounting and Law   305  320.0
21       AL855  Hospitality Management (with International pla...   312  357.0
22       AL857                                  Digital Marketing   300  360.0
23       AL860                               Social Care Practice   309  338.0
24       AL861             Animation and Illustration (portfolio)  #615  899.0
25       AL863             Graphic and Digital Design (portfolio)  #703  898.0
26       AL864                     Early Years Care and Education   307  348.0
27       AL870                                 Applied Psychology   409  445.0
28         NaN                    Institute of Technology, Carlow   NaN    NaN
29       CW018                        Business (options, Wexford)   327  349.0
30       CW028       Early Childhood Education and Care (Wexford)   252  308.0
31       CW038                           Art (portfolio, Wexford)  #700  700.0
32       CW058             Tourism and Event Management (Wexford)   252  262.0
33       CW068  Applied Social Studies - Professional Social C...   251  280.0
34       CW078  Sustainable Farm Management and Agribusiness (...   266  320.0
35       CW088         Visual Communications and Design (Wexford)   309  345.0
36       CW108                                  Science (options)   261  326.0
37       CW128                             Brewing and Distilling   271  298.0
38       CW178                            Sport Science (options)   399  424.0
39       CW188          Sport Rehabilitation and Athletic Therapy   454  473.0
40       CW208                         Computer Games Development   281  338.0
41       CW238                               Software Development   300  343.0
42       CW248                  Information Technology Management   307  357.0,     CW258                         Cybercrime and IT Security   300     328
0   CW268    Computing in Interactive Digital Art and Design   274   321.0
1   CW438                             Construction (options)   271   308.0
2   CW468                           Architectural Technology   252   290.0
3   CW478                                  Civil Engineering   348   383.0
4   CW548                             Mechanical Engineering   310   351.0
5   CW558                                 Electronic Systems   279   338.0
6   CW568                              Aerospace Engineering   366   422.0
7   CW578                            TV and Media Production   327   361.0
8   CW708                                          Law - LLB   298   328.0
9   CW728                          Product Design Innovation   286   355.0
10  CW748                 Early Childhood Education and Care   265   338.0
11  CW758  Applied Social Studies - Professional Social Care   290   319.0
12  CW808                         Media and Public Relations   248   307.0
13  CW848                   Digital Marketing with Analytics   279   307.0
14  CW858  Sports Management and Coaching (options, portf...  #700   700.0
15  CW908                                 Business (options)   260   307.0
16  CW938                                  Business with Law   270   288.0
17  CW948                                         Accounting   301   408.0
18    NaN                      Carlow College, St. Patrick`s   NaN     NaN
19  PC405            Social, Political and Community Studies   251   296.0
20  PC410  Arts and Humanities (fulfils Teaching Council ...   203   289.0
21  PC411  English and History (fulfils Teaching Council ...   168   289.0
22    NaN                       Cork Institute of Technology   NaN     NaN
23  CR105         Chemical and Biopharmaceutical Engineering   432   498.0
24  CR106                               Software Development   351   393.0
25  CR108                             Mechanical Engineering   425   487.0
26  CR109                             Structural Engineering   341   467.0
27  CR110      Automotive Business Management and Technology   318   347.0
28  CR112                             Creative Digital Media   335   389.0
29  CR116                                   Computer Systems   318   381.0
30  CR121                  Music at CIT Cork School of Music  #633  1052.0
31  CR125  Popular Music: Electric Bass Guitar at CIT Cor...  #972  1021.0
32  CR126   Popular Music: Drums at CIT Cork School of Music  #878  1043.0
33  CR127  Popular Music: Electric Guitar at CIT Cork Sch...  #584   761.0
34  CR128  Popular Music: Keyboards at CIT Cork School of...  #839  1009.0
35  CR129   Popular Music: Voice at CIT Cork School of Music  #857   927.0
36  CR130                                    Musical Theatre  #500   600.0
37  CR150                       Business Information Systems   326   371.0
38  CR210  Contemporary Applied Art (Ceramics, Glass, Tex...  #979   979.0
39  CR220  Fine Art at CIT Crawford College of Art and De...  #620   819.0
40  CR225                         Photography with New Media  #920   920.0
41  CR305                   Physical Sciences (Common Entry)   279   309.0
42  CR310                                      IT Management   282   317.0
43  CR320  Biomedical Science (Offered jointly by CIT and...   546   556.0
44  CR325                       Pharmaceutical Biotechnology   388   422.0
45  CR333                       Nutrition and Health Science   360   393.0
46  CR335                 Biological Sciences (Common Entry)   381   419.0
47  CR340        Analytical Chemistry with Quality Assurance   288   315.0
48  CR360                             Instrument Engineering   291   329.0
49  CR365   Environmental Science and Sustainable Technology   334   362.0
50  CR370                                   Agri-Biosciences   408   431.0
51  CR400                                         Accounting   316   389.0
52  CR420                                          Marketing   288   329.0
53  CR425               International Business with Language   300   392.0,     CR500                         Engineering (Common Entry)   381    424
0   CR510                     Sustainable Energy Engineering   319  343.0
1   CR520                             Biomedical Engineering   434  477.0
2   CR560                           Architectural Technology   288  332.0
3   CR565                              Interior Architecture   336  390.0
4   CR570                                 Quantity Surveying   279  342.0
5   CR572                            Construction Management   253  300.0
6   CR580                             Electrical Engineering   344  374.0
7   CR590                             Electronic Engineering   342  411.0
8   CR600                              Visual Communications  #587  888.0
9   CR660                                 Tourism Management   249  290.0
10  CR700  Theatre and Drama Studies at CIT Cork School o...  #768  906.0
11    NaN                      University College Cork (NUI)   NaN    NaN
12  CK101                                     Arts - 3 years   300  368.0
13  CK102                                     Social Science   391  431.0
14  CK104  Arts with Music - 3 or 4 years (BMus or Chines...  #340  409.0
15  CK105  Film and Screen Media - 3 years or 4 years (In...   397  442.0
16  CK107  Geographical and Archaeological Sciences - 3 o...   326  388.0
17  CK108                       Arts International - 4 years   429  466.0
18  CK109  English - 3 years or 4 years (International Pa...   347  423.0
19  CK110                                    World Languages   456  506.0
20  CK111                  Early Years and Childhood Studies   398  429.0
21  CK112  Theatre and Performative Practices - 3 or 4 ye...  #324  470.0
22  CK113  Criminology - 3 years or 4 years (Internationa...   408  430.0
23  CK114  Social Science (Youth and Community Work) - 3 ...     #    NaN
24  CK115               Social Work - Mature Applicants only     #    NaN
25  CK116              Sports Studies and Physical Education   499  520.0
26  CK118  Digital Humanities and IT - 3 or 4 years (Work...   307  361.0
27  CK120                                 Applied Psychology   506  532.0
28  CK121  Psychology and Computing - 3 or 4 years (Work ...   393  466.0
29  CK122                   Government and Political Science   355  410.0
30  CK201                                           Commerce  465*  489.0
31  CK202                                         Accounting   467  506.0
32  CK203                       Business Information Systems   409  444.0
33  CK204                                            Finance   531  555.0
34  CK205               Commerce (International) with French   409  473.0
35  CK206               Commerce (International) with German   408  446.0
36  CK207              Commerce (International) with Italian   408  425.0
37  CK208     Commerce (International) with Hispanic Studies   431  455.0
38  CK209                Commerce (International) with Irish   509  528.0
39  CK211      Commerce (International) with Chinese Studies   398  420.0
40  CK212  Economics (Transformational Learning) - 3 or 4...   400  429.0
41  CK301                     Law (Pathways) -  3 or 4 years   476  519.0
42  CK302                                     Law and French   453  531.0
43  CK304                                      Law and Irish   462  510.0
44  CK307                                   Law and Business   522  554.0
45  CK401                                   Computer Science   402  456.0
46  CK402                   Biological and Chemical Sciences   498  520.0
47  CK404       Biological, Earth and Environmental Sciences   412  451.0
48  CK405                                           Genetics   476  496.0
49  CK406                                  Chemical Sciences   457  488.0
50  CK407                              Mathematical Sciences   531  578.0
51  CK408                           Physics and Astrophysics   511  566.0
52  CK409  Industrial Physics (offered jointly by UCC and...   413  532.0
53  CK411                         Data Science and Analytics   509  542.0,     CK412                               Agricultural Science   457    509
0   CK502                Food Marketing and Entrepreneurship   433  456.0
1   CK504                               Nutritional Sciences   492  509.0
2   CK505                                       Food Science   444  477.0
3   CK506          International Development and Food Policy   367  410.0
4   CK600                                        Engineering   465  532.0
5   CK606      Architecture (offered jointly by UCC and CIT)   465  496.0
6   CK701     Medicine (Undergraduate Entry - HPAT required)  #729  740.0
7   CK702                                          Dentistry   590  613.0
8   CK703                                           Pharmacy   577  589.0
9   CK704                               Occupational Therapy  532*  554.0
10  CK705                        Speech and Language Therapy   509  529.0
11  CK706                             Public Health Sciences   419  451.0
12  CK707                        Medical and Health Sciences  510*  543.0
13  CK710                                    General Nursing   440  466.0
14  CK712        Children`s and General Nursing (Integrated)   499  520.0
15  CK720                              Mental Health Nursing   398  429.0
16  CK730                    Intellectual Disability Nursing   359  388.0
17  CK740                                          Midwifery   444  474.0
18  CK791       Medicine  - Graduate Entry (GAMSAT required)  #58*   59.0
19    NaN                                   American College   NaN    NaN
20  AC120                             International Business   234  269.0
21  AC137                                       Liberal Arts   252  275.0
22    NaN                                 CCT College Dublin   NaN    NaN
23  CT125                             Information Technology   235  280.0
24    NaN                      Marino Institute of Education   NaN    NaN
25  CM001                       Education - Primary Teaching  452*  462.0
26  CM002  Education - Primary Teaching - Gaeltacht Appli...  #421  440.0
27  CM003  Oideachas - Bunmhúinteoireacht Trí Mheán na Ga...  #491  506.0
28  CM004  Oideachas - Bunmhúinteoireacht Trí Mheán na Ga...  #492  569.0
29  CM010                                  Education Studies   317  373.0
30  CM020                          Early Childhood Education   336  363.0
31    NaN                             Dublin Business School   NaN    NaN
32  DB500                                          Computing   242  320.0
33  DB501                        Computing (Cloud Computing)   326  329.0
34  DB502            Computing (Data Analytics and Big Data)   269  269.0
35  DB503                   Computing (Software Development)   242  282.0
36  DB504              Computing (Web and Mobile Technology)   227  269.0
37  DB510      Audio Production and Music Project Management   233  293.0
38  DB512                                   Business Studies   229  301.0
39  DB514                             Business Studies (Law)   269  337.0
40  DB515       Business Studies (Human Resource Management)   225  288.0
41  DB516                                 Financial Services   328  336.0
42  DB517                                   Event Management   226  327.0
43  DB518                          Marketing (Digital Media)   210  289.0
44  DB521                             Accounting and Finance   225  271.0
45  DB524                       Business Information Systems   402  402.0
46  DB525      Marketing (Digital Media and Cloud Computing)   284  309.0
47  DB526     Business Information Systems (Cloud Computing)   253  288.0
48  DB527                                Applied Social Care   235  288.0
49  DB531                                          Marketing   220  288.0
50  DB562                                         Psychology   208  310.0
51  DB566                                     Social Science   216  308.0
52  DB567                                               Film   192  295.0
53  DB568                                                Law   245  308.0,     DB569                              Business (Psychology)   279    338
0     NaN                             Dublin City University   NaN    NaN
1   DC001              Education - Early Childhood Education   398  424.0
2   DC002                       Education - Primary Teaching  462*  485.0
3   DC003  Education - Primary Teaching - Gaeltacht Appli...  #433  473.0
4   DC004  Education - Primary Teaching (Church of Irelan...  #357    NaN
5   DC005  Education - Primary Teaching - Irish Sign Lang...  #316  316.0
6   DC009                  Arts (Joint Honours) - Humanities   347  408.0
7   DC010  Post Primary Teacher Education - Religious Edu...   386  413.0
8   DC011  Post Primary Teacher Education - Religious Edu...   352  389.0
9   DC012  Post Primary Teacher Education - Religious Edu...  #367  415.0
10  DC013  Post Primary Teacher Ed - Gaeilge with French/...   410  509.0
11  DC014      BA in Jazz and Contemporary Music Performance  #428  590.0
12  DC110                     Business Studies International   440  462.0
13  DC111                                   Business Studies   463  479.0
14  DC112                           Global Business (France)   495  510.0
15  DC113                          Global Business (Germany)   440  476.0
16  DC114                            Global Business (Spain)   501  543.0
17  DC115                             Accounting and Finance   487  500.0
18  DC116                              Global Business (USA)   578  589.0
19  DC117  Aviation Management / Aviation Management with...   463  487.0
20  DC118              Gnó agus Gaeilge / Business and Irish   357  399.0
21  DC119                           Global Business (Canada)   566  577.0
22  DC120                               Enterprise Computing   350  389.0
23  DC121                              Computer Applications   370  418.0
24  DC123                                       Data Science   467  511.0
25  DC126                              Actuarial Mathematics   520  543.0
26  DC127  Common Entry into Actuarial and Financial Math...   509  531.0
27  DC131                              Communication Studies   400  441.0
28  DC132                                         Journalism   401  440.0
29  DC133                                         Multimedia   403  451.0
30  DC155           Applied Language and Translation Studies   371  430.0
31  DC161                                 Analytical Science   446  463.0
32  DC162               Chemical and Pharmaceutical Sciences   488  498.0
33  DC166               Environmental Science and Technology   412  442.0
34  DC167                             Physics with Astronomy   434  477.0
35  DC168                          Genetics and Cell Biology   489  500.0
36  DC171                                    Applied Physics   402  433.0
37  DC173                   Physics with Biomedical Sciences   402  458.0
38  DC181                                      Biotechnology   476  488.0
39  DC190  Electronic and Computer Engineering (with choi...   391  433.0
40  DC193                            Mechatronic Engineering   404  445.0
41  DC195           Mechanical and Manufacturing Engineering   401  444.0
42  DC197                             Biomedical Engineering   402  446.0
43  DC200  Common Entry into Engineering (Undenominated E...   381  444.0
44  DC201    Common Entry into Science (Undenominated Entry)   454  477.0
45  DC202                           Sport Science and Health   467  476.0
46  DC203                                  Science Education   424  476.0
47  DC204                      Athletic Therapy and Training   484  500.0
48  DC205                    Physical Education with Biology   490  521.0
49  DC206                Physical Education with Mathematics   443  476.0
50  DC208                                         Psychology   509  521.0
51  DC209                                 Health and Society   419  440.0
52  DC215                                    General Nursing   414  443.0
53  DC216                              Mental Health Nursing   368  389.0,     DC217                    Intellectual Disability Nursing   347    362
0   DC218        Children`s and General Nursing (Integrated)   467  480.0

<br>

<a id= 'part2.2.3'></a>
#### **2.2.3 Exporting Data to csv**

Save the extracted data as a csv file in the data folder. The extracted data can then be transformed into a pandas data frame by reading in the created csv file. [[10]](#reference10), [[11]](#reference11)

In [9]:
# Exporting the data to csv
# Level 8 Courses
tabula.convert_into(url2019_8, path2019_8csv, output_format='csv', pages='all')

# Level 6 and 7 courses
tabula.convert_into(url2019_67, path2019_67csv, output_format='csv', pages='all')

<br>

<a id= 'part2.2.3'></a>
#### **2.2.4 Create Data Frame**

In [10]:
# Level 8 Courses

# Read in the created csv file 
df2019_8 = pd.read_csv(path2019_8csv)

# Display the first 10 rows 
df2019_8.head(10)

  Course Code                             INSTITUTION and COURSE  EOS  Mid
0         NaN                    Athlone Institute of Technology  NaN  NaN
1       AL801    Software Design with Virtual Reality and Gaming  304  328
2       AL802               Software Design with Cloud Computing  301  306
3       AL803  Software Design with Mobile Apps and Connected...  309  337
4       AL805        Network Management and Cloud Infrastructure  329  442
5       AL810                                 Quantity Surveying  307  349
6       AL820                 Mechanical and Polymer Engineering  300  358
7       AL830                                    General Nursing  410  429
8       AL832                                Psychiatric Nursing  387  403
9       AL836                       Nutrition and Health Science  352  383

In [11]:
# Level 6 and 7 Courses

# Read in the created csv file and display the first 10 rows 
df2019_67 = pd.read_csv(path2019_67csv)

df2019_67.head(10)

,Unnamed: 0,ADMISSION DATA 2019,Unnamed: 2,Unnamed: 3
0,NaN,End of Season,NaN,NaN
1,NaN,"Level 6, 7",NaN,NaN
2,NaN,The details given are for general information...,NaN,NaN
3,*,Not all on this points score were offered places,NaN,NaN
4,#,Test / Interview / Portfolio / Audition,NaN,NaN
5,AQA,All qualified applicants,NaN,NaN
6,NaN,NaN,NaN,NaN
7,Course Code,INSTITUTION and COURSE,EOS,Mid
8,NaN,Athlone Institute of Technology,NaN,NaN
9,AL600,Software Design,205,306

<br>

<a id= 'part2.2.3'></a>
#### **2.2.5 Remove Rows with College Names**

In addition to the rows with actual course data, the first column contains the course code consisting of two letters and three numbers, also the rows with the name of the college or university have been extracted and added to the data frame (for example the first row). 
These can  be determined by the value "NaN" in the first (also third and forth column). 
To remove these, the `dropna()` function can be used with the subset parameter which indicates the row. [[12]](#reference12), [[13]](#reference13)

In [12]:
# Removing rows where Course Code is NaN
df2019_8.dropna(subset=['Course Code'], inplace=True)

# Reset the index
df2019_8.reset_index(drop=True, inplace=True)
df2019_8.head(10)

  Course Code                             INSTITUTION and COURSE  EOS  Mid
0       AL801    Software Design with Virtual Reality and Gaming  304  328
1       AL802               Software Design with Cloud Computing  301  306
2       AL803  Software Design with Mobile Apps and Connected...  309  337
3       AL805        Network Management and Cloud Infrastructure  329  442
4       AL810                                 Quantity Surveying  307  349
5       AL820                 Mechanical and Polymer Engineering  300  358
6       AL830                                    General Nursing  410  429
7       AL832                                Psychiatric Nursing  387  403
8       AL836                       Nutrition and Health Science  352  383
9       AL837            Sports Science with Exercise Physiology  351  392

#### **2.2.6 Set Course Code as Index**

As a next step, set the first column with the Course Code as the index, removing the existing index using the `set_index()` function. This will enable combining the datasets for the different years by using the Course Code as  as the key. [[14]](#reference14)

In [13]:
# Set the index to the Course Code column 
df2019_8.set_index('Course Code', inplace=True, verify_integrity=True)

# Display first 10 rows of dataset to verify
df2019_8.head(10)

                                        INSTITUTION and COURSE  EOS  Mid
Course Code
AL801          Software Design with Virtual Reality and Gaming  304  328
AL802                     Software Design with Cloud Computing  301  306
AL803        Software Design with Mobile Apps and Connected...  309  337
AL805              Network Management and Cloud Infrastructure  329  442
AL810                                       Quantity Surveying  307  349
AL820                       Mechanical and Polymer Engineering  300  358
AL830                                          General Nursing  410  429
AL832                                      Psychiatric Nursing  387  403
AL836                             Nutrition and Health Science  352  383
AL837                  Sports Science with Exercise Physiology  351  392

**Check NAN Values???**

In [14]:
# Identifying if there are any NaN values in the data set
df2019_8.isna().values.any()

# https://datatofish.com/columns-nan-pandas-dataframe/

True

In [15]:
df2019_8.isna().sum().sum()

19

In [16]:
# Identifying columns with NaN values
naneos=df2019_8[df2019_8['EOS'].isna()]
naneos

# https://datatofish.com/rows-with-nan-pandas-dataframe/

                    INSTITUTION and COURSE  EOS  Mid
Course Code
GC462        Design Communication (Dublin)  NaN  NaN
ID003        Business Studies with Chinese  NaN  NaN
TL842              Construction Management  NaN  NaN
TL847            Manufacturing Engineering  NaN  NaN

In [17]:
nanmid=df2019_8[df2019_8['Mid'].isna()]
nanmid

                                        INSTITUTION and COURSE    EOS  Mid
Course Code
CK114        Social Science (Youth and Community Work) - 3 ...      #  NaN
CK115                     Social Work - Mature Applicants only      #  NaN
DC004        Education - Primary Teaching (Church of Irelan...   #357  NaN
DT533                              Contemporary Visual Culture      #  NaN
GC462                            Design Communication (Dublin)    NaN  NaN
GC494                                  Fashion Design (Dublin)      #  NaN
ID003                            Business Studies with Chinese    NaN  NaN
DN301                     Veterinary Medicine - Graduate Entry      #  NaN
DN411                             Radiography - Graduate Entry      #  NaN
MH002        Education - Primary Teaching - Gaeltacht Appli...  #441*  NaN
MH802          Community and Youth Work (part-time, in service      #  NaN
MH803        Local Studies or Community Studies (part-time,...      #  NaN
TL842                                  Construction Management    NaN  NaN
TL847                                Manufacturing Engineering    NaN  NaN
TL889        Counselling with Addiction - Mature applicants...      #  NaN

##### Extracting Level 6 and 7 Courses

In [18]:
# Extracting Level 6 and 7 Courses
try: 
    df = read_pdf(url2019_67, pages='all')
    print(df)
except Exception as e:
    print('Error {}'.format(e))

[     Unnamed: 0                                ADMISSION DATA 2019 Unnamed: 1  \
0           NaN                                      End of Season        NaN
1           NaN                                         Level 6, 7        NaN
2           NaN  The details  given are for general information...        NaN
3             *   Not all on this points score were offered places        NaN
4             #            Test / Interview / Portfolio / Audition        NaN
5           AQA                           All qualified applicants        NaN
6           NaN                                                NaN        NaN
7   Course Code                             INSTITUTION and COURSE        EOS
8           NaN                    Athlone Institute of Technology        NaN
9         AL600                                    Software Design        205
10        AL601                               Computer Engineering        196
11        AL602                             Mechanical Engineering        258
12        AL604                                  Civil Engineering        252
13        AL630                                Pharmacy Technician        306
14        AL631                                     Dental Nursing        326
15        AL632                                    Applied Science        243
16        AL650                                           Business        210
17        AL651                    Music and Instrument Technology        AQA
18        AL660                                      Culinary Arts        AQA
19        AL661                                    Bar Supervision        AQA
20        AL663                    Business (Sport and Recreation)        AQA
21        AL701  ICT Engineering: Computer Eng/Network Mgmnt/El...        235
22        AL704                               Computer Engineering        205
23        AL705  Software Design with Mobile Apps and Connected...        206
24        AL710                             Mechanical Engineering        242
25        AL711        Mechanical Engineering and Renewable Energy        231
26        AL712                                       Mechatronics        269
27        AL713  Engineering (Common Entry to Mechanical/Renewa...        245
28        AL721                                  Civil Engineering        217
29        AL730                                      Biotechnology        232
30        AL731                                 Veterinary Nursing        393
31        AL734  Pharmaceutical Sciences (Drug Development and ...        225
32        AL740                        Exercise and Health Science        241
33        AL751                                  Digital Marketing        226
34        AL752                                           Business        232
35        AL761                       Hotel and Leisure Management        200
36        AL763                         Graphic Design (portfolio)       #626
37        AL764                     Early Years Care and Education        270
38        AL765              Applied Social Studies in Social Care        281
39          NaN                    Institute of Technology, Carlow        NaN
40        CW006                                 Business (Wexford)        153
41        CW017  Applied Social Studies - Professional Social C...        224
42        CW027  Sustainable Farm Management and Agribusiness (...        226
43        CW037                        Business (options, Wexford)        349
44        CW047         Visual Communications and Design (Wexford)        198
45        CW057                           Art (portfolio, Wexford)       #700
46        CW077             Tourism and Event Management (Wexford)        204
47        CW106                      Physiology and Health Science        454
48        CW107                                 Analytical Science        215
49        CW116                        Pharmacy Technician Studies        241
50        CW117                                        Biosciences        205

   Unnamed: 2
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
5         NaN
6         NaN
7         Mid
8         NaN
9         306
10        272
11        424
12        360
13        366
14        379
15        372
16        317
17        296
18        216
19        216
20        270
21        310
22        307
23        321
24        337
25        310
26        364
27        371
28        368
29        382
30        451
31        389
32        348
33        336
34        387
35        304
36        820
37        387
38        346
39        NaN
40        270
41        289
42        302
43        387
44        311
45        700
46        259
47        499
48        316
49        351
50        351  ,     CW126     Science - Applied Biology or Applied Chemistry   198    380
0   CW206            Computing - Applications or Programming   206  337.0
1   CW207                               Software Development   235  300.0
2   CW217                  Information Technology Management   234  311.0
3   CW227                         Cybercrime and IT Security   233  317.0
4   CW237    Computing in Interactive Digital Art and Design   216  321.0
5   CW407                           Architectural Technology   186  298.0
6   CW417     Construction Management with Building Services   215  311.0
7   CW427                                  Civil Engineering   201  298.0
8   CW507                                   Aircraft Systems   285  358.0
9   CW517                             Mechanical Engineering   252  336.0
10  CW527                             Electronic Engineering   225  338.0
11  CW547                            TV and Media Production   306  370.0
12  CW706                                      Legal Studies   196  331.0
13  CW707                                  Industrial Design   199  313.0
14  CW717  Applied Social Studies - Professional Social Care   260  308.0
15  CW807  Sport Coaching and Business Management - GAA (...  #700  700.0
16  CW817  Sport Coaching and Business Management - Rugby...  #700  700.0
17  CW827  Sport Coaching and Business Management - Socce...  #700  700.0
18  CW837                   Digital Marketing with Analytics   240  308.0
19  CW906                                           Business   173  288.0
20  CW917                                 Business (options)   200  317.0
21  CW926                                  Business with Law   204  368.0
22  CW927                            Business Administration   205  367.0
23  CW936                                         Accounting   204  414.0
24    NaN                      Carlow College, St. Patrick`s   NaN    NaN
25  PC402                                Arts and Humanities   126  328.0
26  PC404  Applied Social Studies - Professional Social Care   AQA  245.0
27    NaN                       Cork Institute of Technology   NaN    NaN
28  CR001                Applied Physics and Instrumentation   258  488.0
29  CR006                                Applied Biosciences   380  467.0
30  CR007            Analytical and Pharmaceutical Chemistry   246  455.0
31  CR010  Agriculture (Year 1 - 4 days in Clonakilty Agr...   270  368.0
32  CR016                               Software Development   270  393.0
33  CR021                            Business (Common Entry)   250  397.0
34  CR022                            Business Administration   206  262.0
35  CR031                                        Social Care   326  389.0
36  CR032                  Recreation and Leisure Management   250  349.0
37  CR035                              Community Development   162  271.0
38  CR041                                 Tourism Management   180  318.0
39  CR042                             Hospitality Management   101  307.0
40  CR046               Automotive Technology and Management   214  263.0
41  CR051                                  Civil Engineering   244  403.0
42  CR052                                       Construction   232  311.0
43  CR053                              Interior Architecture   253  367.0
44  CR055                          Environmental Engineering   255  424.0
45  CR061                             Electronic Engineering   308  520.0
46  CR062                             Electrical Engineering   279  356.0
47  CR071                             Mechanical Engineering   250  410.0
48  CR075                             Biomedical Engineering   350  490.0
49  CR090                           Architectural Technology   251  419.0
50  CR094  Nautical Science at National Maritime College ...   237  377.0
51  CR095  Marine Engineering at National Maritime Colleg...   224  339.0
52  CR300                   Physical Sciences (Common Entry)   270  509.0
53  CR620                 Early Childhood Education and Care   337  419.0,     CR640                                      Culinary Arts  125    309
0   CR650                       Beverage Industry Management  182  300.0
1   CR655                                   Culinary Studies  116  281.0
2   CR657                                Hospitality Studies  162  236.0
3   CR805  Marine Electrotechnology at National Maritime ...  217  328.0
4   CR888                             Information Technology  271  356.0
5     NaN                                 CCT College Dublin  NaN    NaN
6   CT110                Computing in Information Technology  171  413.0
7   CT116                             Information Technology  178  365.0
8   CT316                                           Business  180  269.0
9     NaN                                     Dorset College  NaN    NaN
10  DS602                           Computing and Multimedia  225  233.0
11  DS603                           Computing and Multimedia  341  370.0
12  DS701                                           Business  AQA    NaN
13  DS702                           Computing and Multimedia  102  365.0
14    NaN                             Dublin Business School  NaN    NaN
15  DB513                                           Business  117  280.0
16  DB522                             Business in Accounting  112  454.0
17  DB528                                Applied Social Care  AQA  307.0
18  DB533                              Business in Marketing  112  223.0
19  DB534             Sound Engineering and Music Production  179  309.0
20  DB563                                               Arts  128  318.0
21  DB571                                   Business Studies  134  371.0
22  DB572                             Business in Accounting  AQA  403.0
23  DB573                              Business in Marketing  127  291.0
24  DB574                 Business in Information Technology  AQA  367.0
25  DB575                                     Social Studies  120  346.0
26  DB576                                     Film and Media  100  318.0
27  DB580                                      Legal Studies  108  318.0
28  DB581                         Legal and Business Studies  156  391.0
29  DB582                                      Legal Studies  108  290.0
30  DB583                         Legal and Business Studies  190  431.0
31    NaN        Technological University Dublin City Campus  NaN    NaN
32  DT002                 Engineering Reliability Management  234  357.0
33  DT003                             Automation Engineering  270  335.0
34  DT004                                  Civil Engineering  243  322.0
35  DT005                               Building Engineering  260  317.0
36  DT006                             Mechanical Engineering  301  393.0
37  DT007               Automotive Management and Technology  240  313.0
38  DT008         Electronics and Communications Engineering  241  367.0
39  DT009                 Electrical and Control Engineering  241  318.0
40  DT010                    Electrical Services Engineering  243  290.0
41  DT011                                Aviation Technology  346  397.0
42  DT080                            Networking Technologies  241  336.0
43  DT097                        Engineering (General Entry)  370  466.0
44  DT104         Auctioneering, Valuation and Estate Agency  290  367.0
45  DT169                          Timber Product Technology  244  356.0
46  DT212                            Science (General Entry)  380  497.0
47  DT219                              Ophthalmic Dispensing  302  441.0
48  DT259                                        Biosciences  400  487.0
49  DT260               Industrial and Environmental Physics  260  476.0
50  DT261    Medicinal Chemistry and Pharmaceutical Sciences  388  489.0
51  DT303                                          Marketing  320  412.0
52  DT315                                   Business Studies  320  431.0,     DT324                                Business Management   325    433
0   DT360                    Retail Management and Marketing   290  326.0
1   DT404               Food Management and Entrepreneurship   268  376.0
2   DT406                                 Tourism Management   260  357.0
3   DT408                             Hospitality Management   250  357.0
4   DT411                                 Leisure Management   250  317.0
5   DT418                  Baking and Pastry Arts Management   240  398.0
6   DT424                        Food Science and Management   270  393.0
7   DT425                        Pharmacy Technician Studies   336  398.0
8   DT426                      Bar and Restaurant Management   241  320.0
9   DT432      Culinary Arts (Professional Cookery Practice)   242  382.0
10  DT598                   Visual Merchandising and Display  #463  873.0
11    NaN  Dun Laoghaire Institute of Art, Design and Tec...   NaN    NaN
12  DL701                Business - Applied Entrepreneurship   154  299.0
13    NaN                                   Griffith College   NaN    NaN
14  GC265                                  Journalism (Cork)   NaN    NaN
15  GC306    International Hospitality Management (Limerick)   NaN    NaN
16  GC335                               Computing (Limerick)   213  260.0
17  GC406      International Hospitality Management (Dublin)   189  217.0
18  GC410                                 Marketing (Dublin)   204  357.0
19  GC411                                  Business (Dublin)   AQA  349.0
20  GC416                                  Business (Dublin)   142  190.0
21  GC425                             Legal Studies (Dublin)   NaN    NaN
22  GC435                                 Computing (Dublin)   101  269.0
23  GC460                Music Production for Games (Dublin)   NaN    NaN
24  GC465                                Journalism (Dublin)   144  367.0
25  GC466                    Film and TV Production (Dublin)   100  308.0
26  GC470                        Photographic Media (Dublin)   117  279.0
27  GC475                               Photography (Dublin)   128  289.0
28  GC490                           Interior Design (Dublin)   127  309.0
29  GC495                                   Fashion (Dublin)   136  338.0
30    NaN  Technological University Dublin Blanchardstown...   NaN    NaN
31  BN001                               Computer Engineering   180  327.0
32  BN002                 Computing (Information Technology)   182  290.0
33  BN003                                           Business   180  251.0
34  BN009                            Mechatronic Engineering   191  268.0
35  BN010                Business and Information Technology   183  280.0
36  BN011              Applied Social Studies in Social Care   270  357.0
37  BN012                               Computer Engineering   180  305.0
38  BN013                 Computing (Information Technology)   108  252.0
39  BN014                                           Business   182  337.0
40  BN015      Engineering (Common Entry with Award options)   126  255.0
41  BN016         Business (Common Entry with Award options)   138  258.0
42  BN017                             International Business   180  360.0
43  BN020                     Sports Management and Coaching   232  297.0
44  BN021                             Creative Digital Media   180  320.0
45  BN022                                       Horticulture   187  341.0
46  BN023                             Accounting and Finance   241  398.0
47  BN025                    Community and Youth Development   152  254.0
48  BN030                 Early Childhood Care and Education   231  371.0
49  BN034               Digital Forensics and Cyber Security   198  281.0
50  BN040                                  Digital Marketing   180  299.0
51  BN049                   Design,Technology and Innovation   203  339.0
52    NaN    Technological University Dublin Tallaght Campus   NaN    NaN,     TA006                           Culinary Arts (Level 6)   133    241
0   TA014          Advertising and Marketing Communications  #288  676.0
1   TA015  International Hospitality and Tourism Management   140  223.0
2   TA016                           Culinary Arts (Level 7)   190  262.0
3   TA106                           Business (Common entry)   179  254.0
4   TA111                            Accounting and Finance   185  308.0
5   TA113                                        Management   171  269.0
6   TA114                                         Marketing   171  260.0
7   TA116                            International Business   184  317.0
8   TA117                                 Digital Marketing   180  269.0
9   TA201                            Electronic Engineering   215  244.0
10  TA203                            Mechanical Engineering   187  268.0
11  TA213                            Mechanical Engineering   186  297.0
12  TA215  Sustainable Energy and Environmental Engineering   196  309.0
13  TA216                            Electronic Engineering   201  280.0
14  TA218                                 Biomedical Design   208  340.0
15  TA219                              Engineering Software   233  300.0
16  TA301                                   Applied Biology   204  338.0
17  TA302                                         Computing   180  235.0
18  TA311                                       Bioanalysis   200  261.0
19  TA312                                         Computing   204  300.0
20  TA313                 Information Technology Management   198  291.0
21  TA314                            Pharmaceutical Science   250  327.0
22  TA315                         DNA and Forensic Analysis   280  369.0
23  TA316                         Sports Science and Health   331  399.0
24    NaN                 National College of Ireland (NCI)   NaN    NaN
25  NC102             Computing in Applications and Support   220  307.0
26  NC103                                          Business   251  308.0
27  NC104                                Business Computing   233  320.0
28  NC105                                      Data Science   297  466.0
29    NaN            St Nicholas Montessori College Ireland   NaN    NaN
30  NM701                              Montessori Education   143  357.0
31    NaN                            Trinity College Dublin   NaN    NaN
32  TR801                                    Dental Nursing  379*  430.0
33  TR802                                    Dental Hygiene  #520  531.0
34  TR803                                 Dental Technology  #367  477.0
35    NaN                   Dundalk Institute of Technology   NaN    NaN
36  DK710                           Business and Management   AQA  346.0
37  DK711                           Business and Technology   131  337.0
38  DK712            Digital Marketing and Public Relations   147  328.0
39  DK721                                         Computing   120  295.0
40  DK730                                Building Surveying   AQA  293.0
41  DK731                          Architectural Technology   184  340.0

<br>

***

<a id= 'part2.3'></a>
### **2.3 Retrieving CAO Points from Excel Format (Year 2020)**

The 2020 data is provided on the CAO website as an Excel file. The `urlretrieve()` function can be used to save a local copy of the file, then the pandas `read_excel()` function is used to create a data frame from the excel data. 

Link to 2020 data on the CAO Website: [Points Required for Entry to 2020 Courses](http://www.cao.ie/index.php?page=points&p=2020)

<br>

<a id= 'part2.3.1'></a>
#### **2.3.1 Defining File Path**

In [19]:
# Create a file path for the original data
path = 'data/cao2020_' + nowstr + '.xlsx'

<br>

<a id= 'part2.3.2'></a>
#### **2.3.2 Extracting Data**

In [20]:
# Save original file to disk
urlrq.urlretrieve('http://www2.cao.ie/points/CAOPointsCharts2020.xlsx', path)

('data/cao2020_20220101_233727.xlsx',
 <http.client.HTTPMessage at 0x2b55db30970>)

<br>

<a id= 'part2.3.2'></a>
#### **2.3.3 Creating the pandas Data Frame**

In [21]:
# Download and parse the excel spreadsheet to a data frame

# Excel file contains a lot of unnecessary data like the header part (rows 1 - 9)
# Can be manually removed (and save file locally) or use pandas to remove unnecessary content
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html

# skiprows: Line numbers to skip (0-indexed) or number of lines to skip (int) at the start of the file. 
# Selecting only the columns relevant for 

df2020 = pd.read_excel('http://www2.cao.ie/points/CAOPointsCharts2020.xlsx', skiprows=10)[['COURSE CODE2','COURSE TITLE','R1 POINTS','R1 Random *','R2 POINTS','R2 Random*','LEVEL']]

In [22]:
# Display first 10 rows of data frame
df2020.head(10)

,COURSE CODE2,COURSE TITLE,R1 POINTS,R1 Random *,R2 POINTS,R2 Random*,LEVEL
0,AC120,International Business,209,NaN,NaN,NaN,8
1,AC137,Liberal Arts,252,NaN,NaN,NaN,8
2,AD101,"First Year Art & Design (Common Entry,portfolio)",#+matric,NaN,NaN,NaN,8
3,AD102,Graphic Design and Moving Image Design (portfo...,#+matric,NaN,NaN,NaN,8
4,AD103,Textile & Surface Design and Jewellery & Objec...,#+matric,NaN,NaN,NaN,8
5,AD202,Education & Design or Fine Art (Second Level T...,#+matric,NaN,NaN,NaN,8
6,AD204,Fine Art (portfolio),#+matric,NaN,NaN,NaN,8
7,AD211,Fashion Design (portfolio),#+matric,NaN,NaN,NaN,8
8,AD212,Product Design (portfolio),#+matric,NaN,NaN,NaN,8
9,AD215,Visual Culture,377,NaN,320,NaN,8

<br>

<a id= 'part2.3.3'></a>
#### **2.3.4 Saving the extracted course lines as a csv file**

In [23]:
# Create a file path for the pandas data
pathpd = 'data/cao2020_new_csv' + nowstr + '.csv'

In [24]:
#Save pandas data frame as a csv file
df2020.to_csv(pathpd)

<br>

<a id= 'part2.4'></a>
### **2.4 Retrieving CAO Points from HTTP Format (Year 2021)**

The 2021 data is provided on the CAO website as a list on an HTTP site. 

Links to 2021 data on the CAO Website: 
- [Points Required for Entry to 2021 Level 8 Courses](http://www2.cao.ie/points/l8.php)
- [Points Required for Entry to 2021 Level 7/6 Courses](http://www2.cao.ie/points/l76.php)

<br>

<a id= 'part2.4.1'></a>
#### **2.4.1 Using the get() function from the requests module to retrieve data from the CAO website containing the points for 2021**

In [25]:
# Using the get() function for fetching the CAO URL
resp_8 = rq.get('http://www2.cao.ie/points/l8.php')

In [26]:
# To check that response is successful (code 200)
resp_8

<br>

<a id= 'part2.4.2'></a>
#### **2.4.2 Saving the orginal dataset with a time stamp**

In [27]:
# Create a file path for saving the original data
path2021_8 = 'data/cao2021_8_' + nowstr + '.html'

In [28]:
# The server uses the Windows-1252 encoding (cp1252) rather than iso-8859-1 as indicated on the website UTF-8 which results in some characters not being displayed correctly. 
# Changing the decode to cp1252 enables to correctly decode 
#To fix the wrong encoding: 
original_encoding = resp_8.encoding

# Change to cp1252
resp_8.encoding = 'cp1252'

In [29]:
# Save a local copy of the original html file
with open(path2021_8, 'w') as f:
    f.write(resp_8.text)

<br>

<a id= 'part2.4.3'></a>
#### **2.4.3 Using regular expressions to match lines containing courses**

Aside from the course data, the CAO website contains a number of additional text lines, headings and hyperlinks which are not required for the dataframe. Regular expressions can be used to identify and extract only the relevant lines with course data.

All of the course lines begin with the course code (2 letters, 3 numbers) followed by the course name and further information.

In [30]:
# Compiling the regular expression for matching lines using the compile() function. 
# The regular expression matches all lines beginning with 2 uppercase letters (indicated by [A-Z]{2}), then 3 digits (indicated by [0-9]{3}.
# followed by any further characters (indicated by the . (dot) character as a wildcard for any characters. * is used as a quantifier, indicating 0 or more characters).
re_course = re.compile(r'([A-Z]{2}[0-9]{3})(.*)')

In [31]:
# Defining a function to split the course points of the two rounds and the indicators for random  selection (*) and additional selecction requirements like tests or portfolios (#)

def points_to_array(s):
    # https://www.pythonpool.com/empty-string-python/ using len() to check for empty values
    if len(s) == 0:
        return ['','','']
    else:
        portfolio = ''
        if s[0] == '#':
            portfolio = '#'
        random = ''
        if s[-1] == '*':
            random = '*'
        points = ''
        for i in s:
            if i.isdigit():
                points = points + i

        return [points, portfolio, random]

<br>

<a id= 'part2.4.4'></a>
#### **2.4.4 Saving the extracted course lines as a csv file**

In [32]:
# Defining the file path for the csv file
path2021_8csv = 'data/cao2021_8_new_csv_' + nowstr + '.csv'

In [33]:
# Loop through the lines containing courses using the iter_lines() function

# Adding a line count to keep track of the number of courses found by the regular expression:
no_lines = 0

# Open the csv file for writing
with open(path2021_8csv,'w') as f:
    # Create a header row
    f.write(','.join(['COURSE CODE2','COURSE TITLE','R1 POINTS', 'R1 Portfolio', 'R1 Random *','R2 POINTS','R2 Portfolio', 'R2 Random*']) + '\n')
    # Loop through the lines of the response
    for line in resp_8.iter_lines():
        #Decode the line using the Windows-1252 encoding
        dline = line.decode('cp1252')
        # If the regular expression defined above matches the line
        if re_course.fullmatch(dline):
            # Add one to the lines count
            no_lines = no_lines + 1
            # Extract the course code (first five characters of the line)
            course_code = dline[:5]
            # Extract the course title (characters 6 to 57 of the line) using strip() to remove white spaces
            course_title = dline[7:57].strip()
            # Extract round one and two points (starting from character 59 of the line, adding a split between round 1 and 2 which is indicated by one or more blank space)
            course_points = re.split(' +', dline[60:])
            # Using join() to change array created in points_to_array to string separated by , https://www.w3schools.com/python/ref_string_join.asp 
            course_points_1 = ",".join(points_to_array(course_points[0]))
            course_points_2 = ",".join(points_to_array(course_points[1]))
            
            # Join the fields using a comma
            linesplit = [course_code, course_title, course_points_1, course_points_2]
            print(linesplit)
            # Rejoin the substrings with commas in between
            f.write(','.join(linesplit) + '\n')
            
# Print the total number of processed lines
print(f"\nTotal number of lines is {no_lines}.")

['AL801', 'Software Design for Virtual Reality and Gaming', '300,,', ',,']
['AL802', 'Software Design in Artificial Intelligence for Clo', '313,,', ',,']
['AL803', 'Software Design for Mobile Apps and Connected Devi', '350,,', ',,']
['AL805', 'Computer Engineering for Network Infrastructure', '321,,', ',,']
['AL810', 'Quantity Surveying', '328,,', ',,']
['AL811', 'Civil Engineering', ',,', ',,']
['AL820', 'Mechanical and Polymer Engineering', '327,,', ',,']
['AL830', 'General Nursing', '451,,*', '444,,']
['AL832', 'Mental Health Nursing', '440,,*', '431,,']
['AL835', 'Pharmacology', '356,,', ',,']
['AL836', 'Nutrition and Health Science', '346,,', ',,']
['AL837', 'Sports Science with Exercise Physiology', '357,,', ',,']
['AL838', 'Biotechnology', '324,,', ',,']
['AL839', 'Microbiology', '325,,', ',,']
['AL840', 'Pharmaceutical Sciences', '346,,', ',,']
['AL841', 'Athletic and Rehabilitation Therapy', '477,,', '476,,*']
['AL842', 'Bioveterinary Science', '338,,', ',,']
['AL843', 'Physical Activity and Health Science', '306,,', ',,']
['AL849', 'Culinary Entrepreneurship', '297,,', ',,']
['AL850', 'Business', '309,,', ',,']
['AL851', 'Business and Law', '302,,', ',,']
['AL852', 'Accounting', '336,,', ',,']
['AL854', 'Sport Management (with international placement)', '300,,', '299,,']
['AL855', 'Hospitality Management (with international placeme', '309,,', ',,']
['AL857', 'Digital Marketing', '304,,', ',,']
['AL859', 'International Business', '308,,', ',,']
['AL860', 'Social Care Practice', '301,,', ',,']
['AL861', 'Animation and Illustration (portfolio)', '575,#,', ',,']
['AL863', 'Graphic and Digital Design (portfolio)', '747,#,', ',,']
['AL864', 'Early Years Care and Education', '306,,', ',,']
['AL870', 'Applied Psychology', '484,,*', '467,,*']
['CW018', 'Business (options)', '307,,', ',,']
['CW028', 'Early Childhood Education and Care', '260,,', ',,']
['CW038', 'Art (portfolio)', '700,#,', ',,']
['CW058', 'Tourism and Event Management', '292,,', ',,']
['CW068', 'Applied Social Studies in Professional Social Care', '250,,', ',,']
['CW078', 'Sustainable Farm Management and Agribusiness', '270,,', ',,']
['CW088', 'Visual Communications and Design', '270,,', ',,']
['CW108', 'Science (options)', '266,,', ',,']
['CW128', 'Brewing and Distilling', '307,,', ',,']
['CW138', 'Sport and Exercise Science', '430,,', '423,,']
['CW148', 'Strength and Conditioning', '388,,', ',,']
['CW188', 'Sport Rehabilitation and Athletic Therapy', '451,,', ',,']
['CW208', 'Computer Games Development', '272,,', ',,']
['CW238', 'Software Development', '295,,', ',,']
['CW248', 'Information Technology Management', '293,,', ',,']
['CW258', 'Cybercrime and IT Security', '292,,', ',,']
['CW268', 'Computing in Interactive Digital Art and Design', '291,,', ',,']
['CW438', 'Construction (options)', '260,,', '251,,']
['CW468', 'Architectural Technology', '291,,', '283,,']
['CW478', 'Civil Engineering', '465,,', ',,']
['CW548', 'Mechanical Engineering', '330,,', '328,,']
['CW558', 'Electronic Systems', '280,,', ',,']
['CW568', 'Aerospace Engineering', '371,,', '359,,']
['CW578', 'TV and Media Production', '318,,', ',,']
['CW708', 'Law - LLB', '292,,', ',,']
['CW728', 'Product Design Innovation', '246,,', ',,']
['CW748', 'Early Childhood Education and Care', '290,,', ',,']
['CW758', 'Professional Social Care Practice', '360,,', '358,,']
['CW808', 'Media and Public Relations', '247,,', ',,']
['CW848', 'Digital Marketing with Analytics', '269,,', ',,']
['CW858', 'Sports Management and Coaching (options  portfolio', '700,#,', ',,']
['CW908', 'Business (options)', '272,,', ',,']
['CW938', 'Business with Law', '270,,', ',,']
['CW948', 'Accounting', '319,,', ',,']
['PC405', 'Social  Political and Community Studies', '263,,', '235,,']
['PC410', 'Arts and Humanities (fulfils Teaching Council requ', '262,,', '230,,']
['PC411', 'English and History (fulfils Teaching Council requ', '243,,', '224,,']
['CR105', 'Chemical and Biopharmaceutical Engineering', '443,,', ',,']
['CR106', 'Software Development', '431,,', ',,']
['CR108', 'Mechanical Engineering', '434,,', ',,']
['CR109', 'Structural Engineering', '396,,', ',,']
['CR110', 'Automotive Business Management and Technology', '336,,', ',,']
['CR112', 'Creative Digital Media at CIT Crawford College of', '390,,', ',,']
['CR116', 'Computer Systems', '365,,', ',,']
['CR121', 'Music at CIT Cork School of Music', '904,#,', '904,#,']
['CR125', 'Popular Music at CIT Cork School of Music', '1028,#,', ',,']
['CR130', 'Musical Theatre at CIT Cork School of Music', '525,#,', ',,']
['CR150', 'Business Information Systems', '350,,', ',,']
['CR210', 'Contemporary Applied Art (Ceramics  Glass  Textile', '450,#,', ',,']
['CR220', 'Fine Art at CIT Crawford College of Art and Design', '400,#,', ',,']
['CR225', 'Photography with New Media at CIT Crawford College', '435,#,', ',,']
['CR305', 'Physical Sciences (Common Entry)', '260,,', ',,']
['CR310', 'IT Management', '347,,', ',,']
['CR320', 'Biomedical Science - Offered jointly by CIT and UC', '590,,*', ',,']
['CR325', 'Pharmaceutical Biotechnology', '466,,', ',,']
['CR333', 'Nutrition and Health Science', '425,,', ',,']
['CR335', 'Biological Sciences (Common Entry)', '473,,', ',,']
['CR340', 'Analytical Chemistry with Quality Assurance', '327,,', ',,']
['CR360', 'Instrument Engineering', '301,,', ',,']
['CR365', 'Environmental Science and Sustainable Technology', '262,,', ',,']
['CR370', 'Agri-Biosciences', '368,,', ',,']
['CR400', 'Accounting', '315,,', ',,']
['CR420', 'Marketing', '290,,', ',,']
['CR425', 'International Business with Language', '279,,', ',,']
['CR430', 'Sport and Exercise Management', '402,,', ',,']
['CR435', 'Coaching Science and Sports Pedagogy', '410,,', ',,']
['CR440', 'Montessori Education', '409,,', '408,,']
['CR500', 'Engineering (Common Entry)', '475,,', ',,']
['CR510', 'Sustainable Energy Engineering', '320,,', ',,']
['CR520', 'Biomedical Engineering', '444,,', ',,']
['CR560', 'Architectural Technology', '375,,', ',,']
['CR565', 'Interior Architecture', '431,,', ',,']
['CR570', 'Quantity Surveying', '375,,', ',,']
['CR572', 'Construction Management', '300,,', ',,']
['CR580', 'Electrical Engineering', '342,,', ',,']
['CR590', 'Electronic Engineering', '329,,', ',,']
['CR600', 'Visual Communications at CIT Crawford College of A', '280,#,', ',,']
['CR660', 'Tourism Management', '246,,', ',,']
['CR700', 'Theatre and Drama Studies at CIT Cork School of Mu', '609,#,', '609,#,']
['CR930', 'Home Economics and Business', '518,,*', ',,']
['CK101', 'Arts - 3 years', '300,,', ',,']
['CK102', 'Social Science', '434,,', '431,,']
['CK104', 'Arts with Music - 3 or 4 years (BMus or Chinese/Eu', '339,#,', ',,']
['CK105', 'Film and Screen Media - 3 years or 4 years (Intern', '421,,', '420,,*']
['CK107', 'Geographical and Archaeological Sciences - 3 or 4', '312,,', ',,']
['CK108', 'Arts International - 4 years', '440,,*', '440,,']
['CK109', 'English - 3 years or 4 years (International Pathwa', '367,,', '357,,']
['CK110', 'World Languages', '488,,', ',,']
['CK111', 'Early Years and Childhood Studies', '409,,', '403,,']
['CK112', 'Theatre and Performative Practices - 3 or 4 years', '371,#,', ',,']
['CK113', 'Criminology - 3 years or 4 years (International Pa', '464,,', '463,,']
['CK114', 'Social Science (Youth and Community Work)', ',#,', ',,']
['CK115', 'Social Work - Mature Applicants only', ',,', ',,']
['CK118', 'Digital Humanities and IT - 3 or 4 years (Work Exp', '347,,', '339,,']
['CK120', 'Applied Psychology', '544,,', '543,,*']
['CK121', 'Psychology and Computing - 3 or 4 years (Work Expe', '499,,', '488,,']
['CK122', 'Government and Political Science', '399,,', ',,']
['CK123', 'Anthropology', '308,,', ',,']
['CK124', 'Education - Gaeilge', '473,,', ',,']
['CK125', 'Sports Studies and Physical Education', '564,,', '555,,*']
['CK201', 'Commerce', '500,,', '499,,*']
['CK202', 'Accounting', '553,,', '543,,*']
['CK203', 'Business Information Systems', '455,,', '452,,']
['CK204', 'Finance', '566,,*', '566,,*']
['CK205', 'Commerce (International) with French', '465,,', ',,']
['CK206', 'Commerce (International) with German', '466,,', '455,,']
['CK207', 'Commerce (International) with Italian', '423,,', '418,,']
['CK208', 'Commerce (International) with Hispanic Studies', '488,,', '486,,']
['CK209', 'Commerce (International) with Irish', '507,,', ',,']
['CK211', 'Commerce (International) with Chinese Studies', '385,,', ',,']
['CK212', 'Economics (through Transformational Learning) 3 or', '445,,', '444,,']
['CK213', 'Food Marketing and Entrepreneurship', '466,,', ',,']
['CK214', 'International Development', '332,,', ',,']
['CK301', 'Law (Pathways) -  3 or 4 years', '533,,', '532,,*']
['CK302', 'Law and French', '545,,', ',,']
['CK304', 'Law and Irish', '588,,', ',,']
['CK307', 'Law and Business', '589,,*', '589,,*']
['CK401', 'Computer Science', '503,,', '495,,']
['CK402', 'Biological and Chemical Sciences', '555,,*', '555,,']
['CK404', 'Biological  Earth and Environmental Sciences', '500,,', '495,,*']
['CK405', 'Genetics', '543,,', ',,']
['CK406', 'Chemical Sciences', '532,,', ',,']
['CK407', 'Mathematical Sciences', '566,,', ',,']
['CK408', 'Physics and Astrophysics', '566,,', ',,']
['CK409', 'Industrial Physics - Offered jointly by UCC and CI', '465,,', ',,']
['CK411', 'Data Science and Analytics', '531,,', ',,']
['CK412', 'Agricultural Science', '506,,', ',,']
['CK504', 'Nutritional Sciences', '555,,', '554,,*']
['CK505', 'Food Science', '463,,', ',,']
['CK600', 'Engineering', '510,,', '509,,*']
['CK606', 'Architecture - Offered jointly by UCC and CIT', '543,,', ',,']
['CK701', 'Medicine (Undergraduate Entry - HPAT required)', '738,#,', '737,#,*']
['CK702', 'Dentistry', '625,,*', '625,,*']
['CK703', 'Pharmacy', '613,,*', '613,,*']
['CK704', 'Occupational Therapy', '601,,*', ',,']
['CK705', 'Speech and Language Therapy', '568,,', '566,,*']
['CK706', 'Public Health Sciences', '500,,', ',,']
['CK707', 'Medical and Health Sciences', '578,,*', ',,']
['CK710', 'General Nursing', '498,,*', '497,,*']
['CK712', 'Children`s and General Nursing (Integrated)', '565,,', ',,']
['CK720', 'Mental Health Nursing', '455,,', '452,,']
['CK730', 'Intellectual Disability Nursing', '431,,', ',,']
['CK740', 'Midwifery', '509,,*', ',,']
['CK791', 'Medicine  - Graduate Entry (GAMSAT required)', '60,#,*', '60,#,*']
['AC120', 'International Business', '294,,', '294,,']
['AC137', 'Liberal Arts', '271,,', '270,,']
['CT125', 'Computing and IT', '242,,', '242,,']
['CT325', 'Business', '253,,', '253,,']
['CM001', 'Education - Primary Teaching', '508,,', ',,']
['CM002', 'Education - Primary Teaching - Gaeltacht Applicant', '462,#,', ',,']
['CM003', 'Oideachas – Bunmhúinteoireacht Trí Mheán na Gaeilg', '513,#,', ',,']
['CM004', 'Oideachas - Bunmhúinteoireacht Trí Mheán na Gaeilg', '480,#,', ',,']
['CM010', 'Education Studies', '382,,', '327,,']
['CM020', 'Early Childhood Education', '317,,', ',,']
['DB500', 'Computing', '234,,', '234,,']
['DB501', 'Computing (Cloud Computing)', ',,', '178,,']
['DB502', 'Computing (Data Analytics and Big Data)', '267,,', '233,,']
['DB503', 'Computing (Software Development)', ',,', ',,']
['DB504', 'Computing (Web and Mobile Technology)', ',,', ',,']
['DB510', 'Audio Production and Music Project Management', '217,,', '217,,']
['DB512', 'Business Studies', '243,,', '210,,']
['DB514', 'Business Studies (Law)', '239,,', '225,,']
['DB515', 'Business Studies (Human Resource Management)', '242,,', '217,,']
['DB517', 'Marketing (Event Management)', '233,,', '225,,']
['DB518', 'Marketing (Digital Media)', '307,,', '209,,']
['DB521', 'Accounting and Finance', '243,,', '228,,']
['DB524', 'Business (Information Systems)', '247,,', '239,,']
['DB525', 'Marketing (Digital Media and Cloud Computing)', '288,,', '288,,']
['DB526', 'Business (Cloud Computing)', '244,,', '244,,']
['DB527', 'Applied Social Care', '254,,', '219,,']
['DB531', 'Marketing', '288,,', '176,,']
['DB562', 'Psychology', '244,,', '233,,']
['DB566', 'Social Science', '262,,', '228,,']
['DB567', 'Film and Creative Media', '245,,', '213,,']
['DB568', 'Law', '254,,', '228,,']
['DB569', 'Business (Psychology)', '240,,', '240,,']
['DC001', 'Education - Early Childhood Education', '445,,', ',,']
['DC002', 'Education - Primary Teaching', '518,,*', ',,']
['DC003', 'Education - Primary Teaching - Gaeltacht Applicant', '489,#,', ',,']
['DC004', 'Education - Primary Teaching (Church of Ireland Ce', '451,#,', ',,']
['DC009', 'Arts (Joint Honours) - Humanities', '356,,', ',,']
['DC010', 'Post Primary Teacher Education - Religious Educati', '384,,', ',,']
['DC011', 'Post Primary Teacher Education - Religious Educati', '409,,', ',,']
['DC012', 'Post Primary Teacher Education - Religious Educati', '409,,', ',,']
['DC013', 'Post Primary Teacher Ed - Gaeilge with French/Germ', '413,,', ',,']
['DC014', 'BA in Jazz and Contemporary Music Performance (aud', '311,#,', ',,']
['DC110', 'Business Studies International', '498,,', ',,']
['DC111', 'Business Studies', '511,,', ',,']
['DC112', 'Global Business (France)', '542,,*', ',,']
['DC113', 'Global Business (Germany)', '484,,', ',,']
['DC114', 'Global Business (Spain)', '544,,', ',,']
['DC115', 'Accounting and Finance', '544,,', ',,']
['DC116', 'Global Business (USA)', '613,,*', ',,']
['DC117', 'Aviation Management / Aviation Management with Pil', '484,,', ',,']
['DC118', 'Gná agus Gaeilge / Business and Irish', '368,,', ',,']
['DC119', 'Global Business (Canada)', '601,,', ',,']
['DC120', 'Computing for Business', '403,,', '402,,']
['DC121', 'Computer Science', '475,,', ',,']
['DC123', 'Data Science', '501,,', ',,']
['DC126', 'Actuarial Mathematics', '577,,*', ',,']
['DC127', 'Common Entry into Actuarial and Financial Mathemat', '541,,', ',,']
['DC131', 'Communication Studies', '421,,', ',,']
['DC132', 'Journalism', '452,,', ',,']
['DC133', 'Multimedia', '435,,', ',,']
['DC155', 'Applied Language and Translation Studies', '427,,', ',,']
['DC161', 'Analytical Science', '498,,', ',,']
['DC162', 'Chemical and Pharmaceutical Sciences', '531,,*', ',,']
['DC163', 'Chemical Sciences General Entry (Undenominated Ent', '466,,*', ',,']
['DC166', 'Environmental Science and Technology', '423,,*', ',,']
['DC168', 'Genetics and Cell Biology', '543,,*', ',,']
['DC175', 'Physics General Entry (options)', '400,,', ',,']
['DC180', 'Biological Sciences General Entry (Undenominated E', '530,,', ',,']
['DC181', 'Biotechnology', '530,,', ',,']
['DC190', 'Electronic and Computer Engineering (with choice o', '488,,', ',,']
['DC193', 'Mechatronic Engineering', '490,,', ',,']
['DC194', 'Sustainable Systems and Energy', '476,,', ',,']
['DC195', 'Mechanical and Manufacturing Engineering', '500,,', ',,']
['DC197', 'Biomedical Engineering', '510,,', ',,']
['DC200', 'Common Entry into Engineering (Undenominated Entry', '511,,', '510,,']
['DC202', 'Sport Science and Health', '511,,', ',,']
['DC203', 'Science Education', '462,,', ',,']
['DC204', 'Athletic Therapy and Training', '558,,', ',,']
['DC205', 'Physical Education with Biology', '565,,', ',,']
['DC206', 'Physical Education with Mathematics', '521,,', ',,']
['DC207', 'Psychology and Mathematics', '521,,', ',,']
['DC208', 'Psychology', '565,,', ',,']
['DC209', 'Health and Society', '477,,', ',,']
['DC210', 'Psychology and Disruptive Technologies', '506,,', ',,']
['DC215', 'General Nursing', '456,,*', ',,']
['DC216', 'Mental Health Nursing', '420,,', ',,']
['DC217', 'Intellectual Disability Nursing', '382,,', ',,']
['DC218', 'Children`s and General Nursing (Integrated)', '521,,*', ',,']
['DC230', 'Economics  Politics and Law', '431,,', ',,']
['DC231', 'International Relations', '398,,', ',,']
['DC232', 'Law and Society (BCL)', '469,,', ',,']
['DC235', 'Education and Training - Daytime and Flexible Deli', '302,,', ',,']
['DC238', 'Social Sciences and Cultural Innovation', '387,,', ',,']
['DC240', 'Marketing  Innovation and Technology', '499,,', ',,']
['DC241', 'Digital Business and Innovation', '509,,', ',,']
['DC291', 'Arts (Joint Honours) - Media Studies', '350,,', ',,']
['DC292', 'Arts (Joint Honours) - Law', '400,,', ',,']
['DC293', 'Arts (Joint Honours) - International Languages', '379,,', ',,']
['DC294', 'Climate and Environmental Sustainability', '475,,', ',,']
['DC295', 'Arts (Joint Honours) - Politics', '349,,', ',,']
['DL822', 'Arts Management', '254,,', ',,']
['DL823', 'Business Management', '220,,', ',,']
['DL825', 'Applied Psychology', '418,,', '413,,']
['DL826', 'Graphic Design', '591,#,', ',,']
['DL827', 'Art', '574,#,', ',,']
['DL832', 'Animation', '989,#,', ',,']
['DL833', 'Photography and Visual Media', '671,#,', '671,#,']
['DL836', 'Creative Computing', '235,,', ',,']
['DL837', 'New Media Studies', '298,,', '293,,']
['DL838', 'Creative Music Production', '713,#,', ',,']
['DL839', 'Interaction and User Experience Design', '757,#,', ',,']
['DL840', 'Digital Marketing', '210,,', ',,']
['DL841', 'English and Equality Studies', '277,,', '277,,']
['DL843', 'Film', '987,#,', '874,#,']
['DL844', 'Television', '566,#,', ',,']
['DL845', 'Design for Film (degree options)', '628,#,', ',,']
['GC200', 'Business', '269,,', '242,,']
['GC201', 'Accounting and Finance', '260,,', '226,,']
['GC230', 'Computing Science', '300,,', '289,,']
['GC300', 'Business', '264,,', '264,,']
['GC301', 'Accounting and Finance', ',,', '251,,']
['GC302', 'Business - HRM', '377,,', '377,,']
['GC307', 'Business (Marketing)', '289,,', '270,,']
['GC400', 'Business', '250,,', '228,,']
['GC401', 'Accounting and Finance', '242,,', '242,,']
['GC402', 'Business (HRM)', ',,', ',,']
['GC403', 'Law', '245,,', '242,,']
['GC407', 'Business (Marketing)', '264,,', '264,,']
['GC430', 'Computing Science', '251,,', '251,,']
['GC450', 'Communications and Media Production', '225,,', '225,,']
['GC462', 'Design Communication (portfolio)', '300,#,', ',,']
['GC489', 'Interior Architecture (portfolio)', '288,#,', '274,#,']
['GC494', 'Fashion Design (portfolio)', '351,#,', ',,']
['BY001', 'Business', '210,,', '210,,']
['ID001', 'Accounting and Finance', ',,', ',,']
['ID002', 'Business Studies', ',,', ',,']
['AD101', 'First Year Art and Design (Common Entry portfolio)', '554,#,', ',,']
['AD102', 'Graphic Design and Moving Image Design (portfolio)', '538,#,', ',,']
['AD103', 'Textile and Surface Design and Jewellery and Objec', '505,#,', ',,']
['AD202', 'Education and Design or Fine Art (Second Level Tea', '591,#,', ',,']
['AD204', 'Fine Art (portfolio)', '514,#,', ',,']
['AD211', 'Fashion Design (portfolio)', '760,#,', '679,#,']
['AD212', 'Product Design (portfolio)', '413,#,', ',,']
['AD215', 'Visual Culture', '337,,', '300,,']
['AD217', 'Illustration (portfolio)', '738,#,', ',,']
['AD222', 'Interaction Design (portfolio)', '444,#,', ',,']
['NC003', 'Computing (Degree Award options)', '271,,', ',,']
['NC005', 'Human Resource Management', '301,,', ',,']
['NC009', 'Business', '300,,', ',,']
['NC010', 'Psychology', '420,,', ',,']
['NC020', 'Marketing Practice', '270,,', ',,']
['NC022', 'Accounting and Finance', '330,,', ',,']
['NC023', 'Technology Management (with specialisations)', '266,,', ',,']
['NC030', 'Early Childhood Education and Care', '251,,', '251,,']
['RC001', 'Medicine - Undergraduate Entry (HPAT required)', '741,#,', '740,#,*']
['RC004', 'Physiotherapy', '589,,*', '589,,*']
['RC005', 'Pharmacy', '613,,*', '613,,']
['RC101', 'Medicine - Graduate Entry (GAMSAT required)', ',,', ',,']
['NM801', 'Montessori Education', '262,,', ',,']
['NM802', 'Psychology', '228,,', ',,']
['TU801', 'Sustainable Energy Engineering', '235,,', ',,']
['TU802', 'Electrical Services and Energy Management', '309,,', ',,']
['TU804', 'Engineering (Common Entry with Award options)', '270,,', ',,']
['TU805', 'Engineering (General Entry)', '466,,', '465,,']
['TU807', 'Computer Engineering in Mobile Systems', '274,,', ',,']
['TU810', 'Mechatronic Engineering', '271,,', ',,']
['TU811', 'Product Design', '440,,', '434,,']
['TU812', 'Design Technology and Innovation', '278,,', ',,']
['TU814', 'Sustainable Transport Management', '253,,', '253,,']

The total number of courses has been verified against the CAO website.

### Extracting 2019 Data for level 6 and 7 courses

http://www2.cao.ie/points/l76.php

<br>

### Step 1: Using the get() function from the requests module to retrieve data from the CAO website containing the points for 2021

In [34]:
# Using the get() function for fetching the CAO URL
resp_67 = rq.get('http://www2.cao.ie/points/l76.php')

In [35]:
# To check that response is successful (code 200)
resp_67

<br>

### Step 2: Saving the orginal dataset with a time stamp

In [36]:
# Create a file path for saving the original data
path2021_67 = 'data/cao2021_67_' + nowstr + '.html'

In [37]:
# The server uses the Windows-1252 encoding (cp1252) rather than iso-8859-1 as indicated on the website UTF-8 which results in some characters not being displayed correctly. 
# Changing the decode to cp1252 enables to correctly decode 
#To fix the wrong encoding: 
#original_encoding = resp.encoding

# Change to cp1252
#resp.encoding = 'cp1252'

In [38]:
# Save a local copy of the original html file
with open(path2021_67, 'w') as f:
    f.write(resp_67.text)

<br>

### Step 3: Using regular expressions to match lines containing courses

Aside from the course data, the CAO website contains a number of additional text lines, headings and hyperlinks which are not required for the dataframe. Regular expressions can be used to identify and extract only the relevant lines with course data.

All of the course lines begin with the course code (2 letters, 3 numbers) followed by the course name and further information.

In [39]:
# Compiling the regular expression for matching lines using the compile() function. 
# The regular expression matches all lines beginning with 2 uppercase letters (indicated by [A-Z]{2}), then 3 digits (indicated by [0-9]{3}.
# followed by any further characters (indicated by the . (dot) character as a wildcard for any characters. * is used as a quantifier, indicating 0 or more characters).
re_course = re.compile(r'([A-Z]{2}[0-9]{3})(.*)')

In [40]:
# Defining a function to split the course points of the two rounds and the indicators for random  selection (*) and additional selecction requirements like tests or portfolios (#)

def points_to_array(s):
    # https://www.pythonpool.com/empty-string-python/ using len() to check for empty values
    if len(s) == 0:
        return ['','','']
    else:
        portfolio = ''
        if s[0] == '#':
            portfolio = '#'
        random = ''
        if s[-1] == '*':
            random = '*'
        points = ''
        for i in s:
            if i.isdigit():
                points = points + i
            #elif i.isalpha():
            #    points = 'AQA'

        return [points, portfolio, random]

<br>

### Step 4: Saving the extracted course lines as a csv file

In [41]:
# Defining the file path for the csv file
path2021_67csv = 'data/cao2021_67_new_csv_' + nowstr + '.csv'

In [42]:
# Loop through the lines containing courses using the iter_lines() function

# Adding a line count to keep track of the number of courses found by the regular expression:
no_lines = 0

# Open the csv file for writing
with open(path2021_67csv,'w') as f:
    # Create a header row
    f.write(','.join(['COURSE CODE2','COURSE TITLE','R1 POINTS', 'R1 Portfolio', 'R1 Random *','R2 POINTS','R2 Portfolio', 'R2 Random*']) + '\n')
    # Loop through the lines of the response
    for line in resp_67.iter_lines():
        #Decode the line using the Windows-1252 encoding
        dline = line.decode('cp1252')
        # If the regular expression defined above matches the line
        if re_course.fullmatch(dline):
            # Add one to the lines count
            no_lines = no_lines + 1
            # Extract the course code (first five characters of the line)
            course_code = dline[:5]
            # Extract the course title (characters 6 to 57 of the line) using strip() to remove white spaces
            course_title = dline[7:57].strip()
            # Extract round one and two points (starting from character 59 of the line, adding a split between round 1 and 2 which is indicated by one or more blank space)
            course_points = re.split(' +', dline[60:])
            # Using join() to change array created in points_to_array to string separated by , https://www.w3schools.com/python/ref_string_join.asp 
            course_points_1 = ",".join(points_to_array(course_points[0]))
            course_points_2 = ",".join(points_to_array(course_points[1]))
            
            # Join the fields using a comma
            linesplit = [course_code, course_title, course_points_1, course_points_2]
            print(linesplit)
            # Rejoin the substrings with commas in between
            f.write(','.join(linesplit) + '\n')
            
# Print the total number of processed lines
print(f"\nTotal number of lines is {no_lines}.")

['AL605', 'Music and Instrument Technology', '211,,', ',,']
['AL630', 'Pharmacy Technician', '308,,', ',,']
['AL631', 'Dental Nursing', '311,,', ',,']
['AL632', 'Applied Science', '297,,', ',,']
['AL650', 'Business', ',,', ',,']
['AL660', 'Culinary Arts', ',,', ',,']
['AL661', 'Bar Supervision', ',,', ',,']
['AL663', 'Business (Sport and Recreation)', ',,', ',,']
['AL701', 'Computer Engineering for Network Infrastructure', '207,,', ',,']
['AL702', 'Software Design in Artificial Intelligence for Clo', '220,,', ',,']
['AL703', 'Software Design for Virtual Reality and Gaming', '211,,', ',,']
['AL704', 'Computer Engineering', '210,,', ',,']
['AL705', 'Software Design for Mobile Apps and Connected Devi', '250,,', ',,']
['AL710', 'Mechanical Engineering', '243,,', ',,']
['AL711', 'Mechanical Engineering and Renewable Energy', '238,,', ',,']
['AL712', 'Automation and Robotics', '247,,', ',,']
['AL713', 'Engineering (Common Entry to Automation and Roboti', '226,,', ',,']
['AL718', 'Music and Sound Engineering', '242,,', ',,']
['AL721', 'Civil Engineering', '242,,', ',,']
['AL730', 'Biotechnology', '261,,', ',,']
['AL731', 'Veterinary Nursing', '421,,', ',,']
['AL734', 'Pharmaceutical Sciences (Drug Development and Anal', '244,,', ',,']
['AL740', 'Exercise and Health Science', '251,,', ',,']
['AL751', 'Digital Marketing', '241,,', ',,']
['AL752', 'Business', '223,,', ',,']
['AL761', 'Hotel and Leisure Management', ',,', ',,']
['AL763', 'Graphic Design (portfolio)', '642,#,', ',,']
['AL764', 'Early Years Care and Education', '260,,', ',,']
['AL765', 'Applied Social Studies in Social Care', '300,,', ',,']
['CW006', 'Business', '171,,', '157,,']
['CW027', 'Sustainable Farm Management and Agribusiness', '236,,', '222,,']
['CW037', 'Business (options)', '279,,', ',,']
['CW047', 'Visual Communications and Design', '241,,', ',,']
['CW057', 'Art (portfolio)', '700,#,', ',,']
['CW077', 'Tourism and Event Management', '223,,', ',,']
['CW106', 'Physiology and Health Science', '451,,', ',,']
['CW107', 'Analytical Science', '261,,', ',,']
['CW116', 'Pharmacy Technician Studies', '224,,', ',,']
['CW117', 'Biosciences', '215,,', ',,']
['CW126', 'Science - Applied Biology or Applied Chemistry', '251,,', ',,']
['CW206', 'Computing - Applications or Programming', '236,,', ',,']
['CW207', 'Software Development', '245,,', ',,']
['CW217', 'Information Technology Management', '269,,', ',,']
['CW227', 'Cybercrime and IT Security', '220,,', ',,']
['CW237', 'Computing in Interactive Digital Art and Design', '227,,', ',,']
['CW407', 'Architectural Technology', '234,,', ',,']
['CW417', 'Construction Management with Building Services', '225,,', '205,,']
['CW427', 'Civil Engineering', '208,,', ',,']
['CW507', 'Aircraft Systems', '293,,', ',,']
['CW517', 'Mechanical Engineering', '290,,', '280,,']
['CW527', 'Electronic Engineering', '226,,', ',,']
['CW547', 'TV and Media Production', '303,,', ',,']
['CW706', 'Legal Studies', '174,,', ',,']
['CW707', 'Industrial Design', '241,,', ',,']
['CW717', 'Professional Social Care Practice', '271,,', '262,,']
['CW807', 'Sport Coaching and Business Management - GAA (port', '700,#,', ',,']
['CW817', 'Sport Coaching and Business Management - Rugby (po', '700,#,', ',,']
['CW827', 'Sport Coaching and Business Management - Soccer (p', '700,#,', ',,']
['CW837', 'Digital Marketing with Analytics', '215,,', ',,']
['CW906', 'Business', '164,,', ',,']
['CW917', 'Business (options)', '228,,', ',,']
['CW926', 'Business with Law', '204,,', ',,']
['CW936', 'Accounting', '207,,', ',,']
['PC402', 'Arts and Humanities', '203,,', '113,,']
['PC404', 'Applied Social Studies - Professional Social Care', '200,,', '100,,']
['CR001', 'Applied Physics and Instrumentation', '292,,', ',,']
['CR006', 'Applied Biosciences', '420,,', ',,']
['CR007', 'Analytical and Pharmaceutical Chemistry', '272,,', ',,']
['CR010', 'Agriculture (Year 1 - 2 days in Clonakilty Agri Co', '336,,', ',,']
['CR016', 'Software Development', '351,,', ',,']
['CR021', 'Business (Common Entry)', '253,,', ',,']
['CR022', 'Business Administration', '172,,', ',,']
['CR031', 'Social Care Work', '360,,', ',,']
['CR032', 'Recreation and Leisure Management', '343,,', ',,']
['CR035', 'Community Development', '133,,', ',,']
['CR041', 'Tourism Management', '212,,', '180,,']
['CR042', 'Hospitality Management', '205,,', ',,']
['CR046', 'Automotive Technology and Management', '227,,', ',,']
['CR051', 'Civil Engineering', '261,,', ',,']
['CR052', 'Construction', '270,,', ',,']
['CR053', 'Interior Architecture', '375,,', ',,']
['CR055', 'Environmental Engineering', '297,,', ',,']
['CR061', 'Electronic Engineering', '300,,', ',,']
['CR062', 'Electrical Engineering', '320,,', ',,']
['CR071', 'Mechanical Engineering', '263,,', ',,']
['CR075', 'Biomedical Engineering', '315,,', ',,']
['CR090', 'Architectural Technology', '308,,', ',,']
['CR094', 'Nautical Science at National Maritime College of I', '256,,', ',,']
['CR095', 'Marine Engineering at National Maritime College of', '234,,', ',,']
['CR300', 'Physical Sciences (Common Entry)', '260,,', ',,']
['CR620', 'Early Childhood Education and Care', '397,,', '377,,']
['CR640', 'Culinary Arts', '220,,', '178,,']
['CR650', 'Beverage Industry Management', '193,,', '162,,']
['CR655', 'Culinary Studies', '196,,', '113,,']
['CR657', 'Hospitality Studies', '171,,', ',,']
['CR805', 'Marine Electrotechnology at National Maritime Coll', '229,,', ',,']
['CR888', 'Information Technology', '300,,', ',,']
['DS602', 'Higher Certificate in Science in Computing Level 6', '120,,', ',,']
['DS701', 'Bachelor of Business Level 7 (3 years)', '136,,', ',,']
['DS702', 'BSc in Computing Level 7 (3 years)', '136,,', ',,']
['DB528', 'Applied Social Care', '146,,', '104,,']
['DB534', 'Sound Engineering and Music Production', '139,,', '139,,']
['DB563', 'Arts', '143,,', '143,,']
['DB571', 'Business Studies', '113,,', '113,,']
['DB572', 'Business (Accounting)', '141,,', '141,,']
['DB573', 'Business (Marketing)', '169,,', '137,,']
['DB574', 'Business (Information Technology)', '173,,', '173,,']
['DB576', 'Film and Creative Media', '101,,', '101,,']
['DL701', 'Business - Applied Entrepreneurship', '162,,', '162,,']
['GC335', 'Computing', '171,,', '171,,']
['GC410', 'Marketing', '122,,', '122,,']
['GC411', 'Business', '180,,', '180,,']
['GC435', 'Computing', '108,,', '108,,']
['GC460', 'Music Production for Games (portfolio)', ',,', ',,']
['GC465', 'Communications', '118,,', '118,,']
['GC466', 'Film and TV Production', '121,,', '121,,']
['GC470', 'Photographic Media', '163,,', '163,,']
['GC475', 'Photography', '125,,', '125,,']
['GC490', 'Interior Design', '137,,', '137,,']
['GC495', 'Fashion', '110,,', '110,,']
['BY002', 'Business', '347,,', '171,,']
['NC102', 'Computing', '225,,', ',,']
['NC103', 'Business', '252,,', ',,']
['NC104', 'Business Computing', '242,,', ',,']
['NM701', 'Montessori Education', '137,,', '137,,']
['TU605', 'Electronic and Information Engineering', '190,,', ',,']
['TU606', 'Mechanical Engineering (General Entry)', '192,,', ',,']
['TU641', 'Bar and Restaurant Management', '243,,', ',,']
['TU642', 'Culinary Arts (Cuisine and Wellness)', '154,,', ',,']
['TU643', 'Culinary Arts (Professional Cookery Practice)', '242,,', ',,']
['TU644', 'Food Management and Entrepreneurship', '250,,', ',,']
['TU645', 'Food Science and Management', '251,,', ',,']
['TU651', 'Applied Biology', '361,,', ',,']
['TU652', 'Computing', '240,,', ',,']
['TU654', 'Pharmacy Technician Studies', '350,,', ',,']
['TU655', 'Computing (Networking Technologies) Learn and Work', '502,#,', ',,']
['TU670', 'Business (campus options)', '224,,', ',,']
['TU673', 'Business Management', '301,,', ',,']
['TU674', 'Business Studies', '307,,', ',,']
['TU675', 'Marketing', '301,,', ',,']
['TU676', 'Retail Management and Marketing', '290,,', ',,']
['TU701', 'Automation Engineering', '243,,', ',,']
['TU702', 'Sustainable Energy and Environmental Engineering', '249,,', ',,']
['TU703', 'Building Engineering', '273,,', ',,']
['TU704', 'Civil Engineering', '260,,', ',,']
['TU705', 'Electrical and Control Engineering', '272,,', ',,']
['TU706', 'Electrical Services Engineering', '245,,', ',,']
['TU708', 'Engineering (Common Entry with Award options)', '117,,', '263,,']
['TU709', 'Engineering (General Entry)', '400,,', ',,']
['TU711', 'Mechatronic Engineering', '225,,', ',,']
['TU713', 'Computer Engineering', '222,,', ',,']
['TU714', 'Electronics and Communications Engineering', '262,,', ',,']
['TU716', 'Networking Technology', '249,,', ',,']
['TU717', 'Mechanical Engineering', '301,,', ',,']
['TU719', 'Design Technology and Innovation', '261,,', ',,']
['TU720', 'Automotive Management and Technology', '232,,', ',,']
['TU721', 'Aviation Technology', '302,,', ',,']
['TU722', 'Process Instrumentation and Automation Learn and W', '346,#,', '346,#,']
['TU725', 'Mechanical Engineering (General Entry)', '222,,', ',,']
['TU726', 'Electronic Engineering (General Entry)', '215,,', ',,']
['TU731', 'Auctioneering  Valuation and Estate Agency', '330,,', ',,']
['TU735', 'Sports Management and Coaching', '270,,', ',,']
['TU736', 'Sports Science and Health', '484,,', ',,']
['TU737', 'Sports Studies', '250,,', ',,']
['TU741', 'Baking and Pastry Arts Management', '231,,', ',,']
['TU742', 'Culinary Arts', '158,,', ',,']
['TU745', 'Hospitality Management', '252,,', ',,']
['TU746', 'International Hospitality and Tourism Management', '157,,', '144,,']
['TU747', 'Tourism Management', '263,,', ',,']
['TU751', 'Biosciences', '418,,', ',,']
['TU752', 'DNA and Forensic Analysis', '500,,', '442,,']
['TU754', 'Industrial and Environmental Physics', '273,,', ',,']
['TU755', 'Science (General Entry)', '361,,', ',,']
['TU756', 'Computing', '201,,', ',,']
['TU757', 'Computing (Information Technology)', '227,,', ',,']
['TU758', 'Digital Forensics and Cyber Security', '223,,', ',,']
['TU760', 'Bioanalysis', '360,,', ',,']
['TU761', 'Ophthalmic Dispensing', '316,,', ',,']
['TU762', 'Medicinal Chemistry and Pharmaceutical Sciences', '320,,', ',,']
['TU763', 'Pharmaceutical Science', '391,,', ',,']
['TU772', 'Business (options)', ',,', '250,,']
['TU780', 'Advertising and Marketing Communications', '201,,', '190,,']
['TU781', 'Digital Marketing', '223,,', ',,']
['TU782', 'Digital Marketing', '200,,', '185,,']
['TU787', 'Business (options)', '200,,', '180,,']
['TU788', 'Accounting and Finance (campus options)', '231,,', ',,']
['TU790', 'Early Childhood Care and Education (campus options', '223,,', ',,']
['TU791', 'Applied Social Studies in Social Care', '320,,', ',,']
['TU792', 'Community and Youth Development', ',,', '242,,']
['TU795', 'Visual Merchandising and Display', '618,#,', ',,']
['TU796', 'Creative Digital Media', '224,,', ',,']
['TR801', 'Dental Nursing', '490,,', '485,,']
['TR802', 'Dental Hygiene', '577,#,', '565,#,']
['TR803', 'Dental Technology', '543,#,', '498,#,*']
['DK710', 'Business and Management', '120,,', '120,,']
['DK711', 'Business and Technology', '140,,', '140,,']
['DK712', 'Digital Marketing and Public Relations', '206,,', '195,,']
['DK721', 'Computing', '120,,', '120,,']
['DK722', 'Augmented and Virtual Reality', '207,,', '207,,']
['DK730', 'Building Surveying', '243,,', '204,,']
['DK731', 'Architectural Technology', '253,,', '210,,']
['DK732', 'Construction Management', '243,,', '229,,']
['DK740', 'Engineering - Electrical and Electronic Systems', '163,,', '163,,']
['DK742', 'Engineering - Mechanical Engineering', '166,,', '166,,']
['DK744', 'Engineering - Civil Engineering', '165,,', '165,,']
['DK750', 'Hospitality Management', '223,,', '157,,']
['DK752', 'Event Management', '224,,', '211,,']
['DK753', 'Culinary Arts', '192,,', '192,,']
['DK763', 'Sport  Exercise and Enterprise', '205,,', '165,,']
['DK767', 'Community Youth Work (interview)', '240,#,', '240,#,']
['DK768', 'Audio and Music Production', '329,,', '285,,']
['DK769', 'Creative Media', '265,,', '209,,']
['DK770', 'Theatre and Film Practice', '140,,', '140,,']
['DK771', 'Musical Theatre (audition)', ',,', ',,']
['DK781', 'Science - Bioscience', '376,,', ',,']
['DK783', 'Science - Pharmaceutical Science', '346,,', ',,']
['DK784', 'Veterinary Nursing', '451,,', '430,,']
['GA160', 'Business (Level 6)', '168,,', '168,,']
['GA170', 'Business (Level 7)', '252,,', ',,']
['GA171', 'Business Information Systems', '253,,', ',,']
['GA172', 'Rural Enterprise and Agri-Business', '278,,', ',,']
['GA174', 'Marketing and Sales', '278,,', ',,']
['GA175', 'Finance', '318,,', ',,']
['GA176', 'Business with Entrepreneurship', '278,,', ',,']
['GA272', 'Heritage Studies', '174,,', '174,,']
['GA273', 'Contemporary Art (portfolio)', '775,#,', ',,']
['GA274', 'Design', '271,,', ',,']
['GA360', 'Business in Tourism', '171,,', ',,']
['GA361', 'Culinary Arts', '181,,', ',,']
['GA362', 'Hotel and Hospitality Operations', '162,,', '162,,']
['GA364', 'Heritage Studies', '252,,', '252,,']
['GA370', 'Hotel and Catering Management', '163,,', '163,,']
['GA376', 'Event Management with Public Relations', '216,,', ',,']
['GA377', 'International Tourism Management', '180,,', '180,,']
['GA378', 'Culinary and Gastronomic Science', '200,,', '160,,']
['GA470', 'Construction Management', '246,,', ',,']
['GA471', 'Quantity Surveying and Construction Economics', '234,,', ',,']
['GA472', 'Architectural Technology', '260,,', ',,']
['GA473', 'Civil Engineering', '304,,', ',,']
['GA570', 'Software and Electronic Engineering', '225,,', ',,']
['GA670', 'Mechanical Engineering', '294,,', ',,']
['GA673', 'Energy Engineering', '279,,', ',,']
['GA674', 'Biomedical Engineering', '308,,', ',,']
['GA675', 'Agricultural Engineering', '290,,', ',,']
['GA676', 'Engineering (Common Entry to Manu/Agri/Biomed/Ener', '304,,', ',,']
['GA677', 'Manufacturing Engineering Design', '308,,', ',,']
['GA770', 'Applied Freshwater and Marine Biology', '303,,', ',,']
['GA771', 'Applied Biology and Biopharmaceutical Science', '302,,', ',,']
['GA772', 'Chemical and Pharmaceutical Science', '310,,', ',,']
['GA773', 'Physics and Instrumentation', '302,,', ',,']
['GA774', 'Science (Undenominated)', '302,,', ',,']
['GA775', 'Computing in Software Development', '280,,', ',,']
['GA776', 'Computing and Digital Media', '244,,', ',,']
['GA777', 'Agriculture and Environmental Management', '281,,', ',,']
['GA862', 'History and Geography', '195,,', '195,,']
['GA864', 'Early Childhood Education and Care', '170,,', '170,,']
['GA870', 'Outdoor Education and Leisure', '166,,', '166,,']
['GA871', 'Early Childhood Education and Care', '196,,', ',,']
['GA872', 'Culture and Environment', '201,,', ',,']
['GA876', 'Community Development and Youth Work (Level 7)', ',,', ',,']
['GA879', 'Applied Social Care', '241,,', ',,']
['GA970', 'Furniture Design and Manufacture', '302,,', ',,']
['GA971', 'Furniture Making and Architectural Woodworking', '369,,', ',,']
['GA973', 'Furniture and Digital Manufacturing', ',,', ',,']
['GA974', 'Furniture Design  Making and Technology - Common E', '422,,', ',,']
['GB001', 'Business', ',,', ',,']
['LY107', 'Business - Common Entry', '189,,', '189,,']
['LY206', 'Sports Studies', '147,,', '126,,']
['LY207', 'Law with Criminal Justice', '161,,', '161,,']
['LY317', 'Culinary Arts', '205,,', '186,,']
['LY327', 'Hospitality And Tourism - Common Entry', '180,,', '178,,']
['LY427', 'Digital Film and Video', '217,,', '217,,']
['LY437', 'Animation', '183,#,', ',,']
['LY447', 'Fashion with Promotion', '189,#,', ',,']
['LY457', 'Graphic and Digital Design', '188,#,', '188,#,']
['LY507', 'Quantity Surveying', '204,,', '163,,']
['LY527', 'Civil Engineering', '164,,', '164,,']
['LY606', 'Electric Vehicle Engineering', '216,,', '149,,']
['LY607', 'Electronic Engineering', '198,,', '198,,']
['LY617', 'Mechanical Engineering', '163,,', '163,,']
['LY707', 'Computer Games Development', '206,,', ',,']
['LY717', 'Computing', '180,,', '160,,']
['LY737', 'Computer Security and Digital Forensics', '161,,', '161,,']
['LY806', 'Pharmacy Technician', '172,,', '172,,']
['LY816', 'Dental Nursing', '180,,', ',,']
['LY817', 'Bioscience', '250,,', ',,']
['LY826', 'Health Science with Physiotherapy Studies', '487,,', '476,,']
['LY836', 'Health Science with Occupational Therapy Studies', '451,,', '433,,']
['LY837', 'Food Science and Nutrition', '215,,', '215,,']
['LY846', 'Health Science with Dietetics Studies', '336,,', '264,,']
['LY847', 'Veterinary Nursing', '389,,*', ',,']
['LY867', 'Pharmaceutical and Medicinal Science', '179,,', '170,,']
['LY877', 'Agriculture', '200,,', ',,']
['LY906', 'Early Childhood Care  Health and Education', '154,,', ',,']
['LY916', 'Health and Social Care', '195,,', '180,,']
['LC221', 'Accounting and Finance', '243,,', ',,']
['LC222', 'Marketing and Management', '259,,', ',,']
['LC228', 'Sports Development and Coaching', '214,,', ',,']
['LC230', 'Business with Computing', '241,,', '224,,']
['LC235', 'Internet Systems Development', '207,,', ',,']
['LC251', 'Civil Engineering', '205,,', ',,']
['LC260', 'Applied Biology', '338,,', ',,']
['LC267', 'Forensic and Pharmaceutical Sciences', '400,,', ',,']
['LC268', 'Medical Technology', '384,,', ',,']
['LC270', 'Music Technology and Production', '354,,', ',,']
['LC271', 'Electrical Engineering', '329,,', '316,,']
['LC276', 'Creative Broadcast and Film Production', '310,,', '300,,']
['LC277', 'Industrial Automation and Robotic Systems', '261,,', ',,']
['LC278', 'Renewable and Electrical Energy Engineering', '306,,', '283,,']
['LC279', 'Electronic Engineering with Computer Systems', '242,,', ',,']
['LC281', 'Automobile Technology', '277,,', ',,']
['LC283', 'Precision Engineering', '207,,', ',,']
['LC284', 'Agricultural Mechanisation at Salesian Agricultura', '192,,', ',,']
['LC285', 'Mechanical Engineering', '299,,', '292,,']
['LC286', 'Road Transport Technology and Management', '294,,', ',,']
['LC290', 'Sports Development Performance', '208,,', ',,']
['LC322', 'Enterprise and Innovation', '228,,', ',,']
['LC336', 'Computing', '219,,', ',,']
['LC396', 'Beauty and Spa Services', '319,,', '309,,']
['LC397', 'Business Studies with Sports', '233,,', ',,']
['LC398', 'Culinary Arts', '215,,', ',,']
['LC399', 'Hospitality Supervision', '137,,', ',,']
['LC415', 'Business', '172,,', ',,']
['LC423', 'Applied Strength and Conditioning', '145,,', ',,']
['LC425', 'Environmental Science', '229,,', ',,']
['LC504', 'Creative Media and Design', '155,,', ',,']
['LC602', 'Social Care Work', '251,,', ',,']
['LM180', 'Equine Science', '351,,', ',,']
['SG101', 'Business', '167,,', '120,,']
['SG102', 'Computing (Level 6 - General Entry)', '254,,', ',,']
['SG131', 'Computing - Games Development', '271,,', ',,']
['SG134', 'Applied Sport with Business', '200,,', ',,']
['SG135', 'Business in Tourism with Event Management', '194,,', ',,']
['SG136', 'Computing - Software Development', '279,,', ',,']
['SG137', 'Computing in Computer Networks and Cyber Security', '262,,', ',,']
['SG138', 'Computing (Level 7 - General Entry)', '299,,', ',,']
['SG139', 'Business in Marketing', '269,,', ',,']
['SG231', 'Fine Art', '375,#,', '375,#,']
['SG232', 'Creative Design', '270,,', ',,']
['SG235', 'Performing Arts (Theatre Design)', '205,,', ',,']
['SG236', 'Performing Arts (Acting)', '204,,', ',,']
['SG300', 'Engineering (General Entry)', '202,,', '163,,']
['SG302', 'Construction Economics', '174,,', ',,']
['SG308', 'Applied Construction Technology', '199,,', '130,,']
['SG330', 'Engineering (General Entry)', '262,,', ',,']
['SG331', 'Interior Architecture and Design', '222,,', ',,']
['SG332', 'Advanced Wood and Sustainable Building Technology', '217,,', ',,']
['SG333', 'Mechanical Engineering', '225,,', ',,']
['SG334', 'Mechatronic Engineering', '290,,', ',,']
['SG335', 'Engineering in Mechatronic Systems (Interview  Wor', ',,', ',#,']
['SG336', 'Precision Engineering and Design', '341,,', ',,']
['SG338', 'Civil Engineering', '226,,', ',,']
['SG339', 'Quantity Surveying', '216,,', ',,']
['SG401', 'Science', '282,,', '128,,']
['SG404', 'Environmental Science with Ecology (Level 6)', '388,,', ',,']

**MISSING AQA!!!**

<br>

***

<a id= 'part2.2.3'></a>
### **3.0 Merging the dataframes to identify full list of courses**

In [43]:
# Converting 2021 level 8 data into a pandas dataframe
df2021_8 = pd.read_csv(path2021_8csv)

In [44]:
# Display dataframe
df2021_8

,COURSE CODE2,COURSE TITLE,R1 POINTS,R1 Portfolio,R1 Random *,R2 POINTS,R2 Portfolio,R2 Random*
0,AL801,Software Design for Virtual Reality and Gaming,300.0,NaN,NaN,NaN,NaN,NaN
1,AL802,Software Design in Artificial Intelligence for...,313.0,NaN,NaN,NaN,NaN,NaN
2,AL803,Software Design for Mobile Apps and Connected ...,350.0,NaN,NaN,NaN,NaN,NaN
3,AL805,Computer Engineering for Network Infrastructure,321.0,NaN,NaN,NaN,NaN,NaN
4,AL810,Quantity Surveying,328.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
944,WD211,Creative Computing,270.0,NaN,NaN,NaN,NaN,NaN
945,WD212,Recreation and Sport Management,262.0,NaN,NaN,NaN,NaN,NaN
946,WD230,Mechanical and Manufacturing Engineering,230.0,NaN,NaN,230.0,NaN,NaN
947,WD231,Early Childhood Care and Education,266.0,NaN,NaN,NaN,NaN,NaN
948,WD232,Business Information Systems,261.0,NaN,NaN,261.0,NaN,NaN

In [45]:
# Converting 2021 Level 6/7 data into a pandas dataframe
df2021_67 = pd.read_csv(path2021_67csv)

In [46]:
df2021_67

,COURSE CODE2,COURSE TITLE,R1 POINTS,R1 Portfolio,R1 Random *,R2 POINTS,R2 Portfolio,R2 Random*
0,AL605,Music and Instrument Technology,211.0,NaN,NaN,NaN,NaN,NaN
1,AL630,Pharmacy Technician,308.0,NaN,NaN,NaN,NaN,NaN
2,AL631,Dental Nursing,311.0,NaN,NaN,NaN,NaN,NaN
3,AL632,Applied Science,297.0,NaN,NaN,NaN,NaN,NaN
4,AL650,Business,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
411,WD188,Applied Health Care,220.0,NaN,NaN,NaN,NaN,NaN
412,WD205,Molecular Biology with Biopharmaceutical Science,NaN,NaN,NaN,262.0,NaN,NaN
413,WD206,Electronic Engineering,180.0,NaN,NaN,NaN,NaN,NaN
414,WD207,Mechanical Engineering,172.0,NaN,NaN,NaN,NaN,NaN
415,WD208,Manufacturing Engineering,317.0,NaN,NaN,NaN,NaN,NaN

In [47]:
# 2020 dataframe
df2020

,COURSE CODE2,COURSE TITLE,R1 POINTS,R1 Random *,R2 POINTS,R2 Random*,LEVEL
0,AC120,International Business,209,NaN,NaN,NaN,8
1,AC137,Liberal Arts,252,NaN,NaN,NaN,8
2,AD101,"First Year Art & Design (Common Entry,portfolio)",#+matric,NaN,NaN,NaN,8
3,AD102,Graphic Design and Moving Image Design (portfo...,#+matric,NaN,NaN,NaN,8
4,AD103,Textile & Surface Design and Jewellery & Objec...,#+matric,NaN,NaN,NaN,8
...,...,...,...,...,...,...,...
1459,WD208,Manufacturing Engineering,188,NaN,NaN,NaN,7
1460,WD210,Software Systems Development,279,NaN,NaN,NaN,8
1461,WD211,Creative Computing,271,NaN,NaN,NaN,8
1462,WD212,Recreation and Sport Management,270,NaN,NaN,NaN,8
1463,WD230,Mechanical and Manufacturing Engineering,253,NaN,NaN,NaN,8

In [48]:
# Converting 2019 Level 8 data into a pandas dataframe
df2019_8 = pd.read_csv(path2019_8csv)

In [49]:
df2019_8

    Course Code                             INSTITUTION and COURSE  EOS  Mid
0           NaN                    Athlone Institute of Technology  NaN  NaN
1         AL801    Software Design with Virtual Reality and Gaming  304  328
2         AL802               Software Design with Cloud Computing  301  306
3         AL803  Software Design with Mobile Apps and Connected...  309  337
4         AL805        Network Management and Cloud Infrastructure  329  442
..          ...                                                ...  ...  ...
960       WD200                                     Arts (options)  221  296
961       WD210                       Software Systems Development  271  329
962       WD211                                 Creative Computing  275  322
963       WD212                    Recreation and Sport Management  274  311
964       WD230           Mechanical and Manufacturing Engineering  273  348

[965 rows x 4 columns]

In [50]:
# Converting 2019 Level 6/7 data into a pandas dataframe
df2019_67 = pd.read_csv(path2019_67csv)

In [51]:
df2019_67

,Unnamed: 0,ADMISSION DATA 2019,Unnamed: 2,Unnamed: 3
0,NaN,End of Season,NaN,NaN
1,NaN,"Level 6, 7",NaN,NaN
2,NaN,The details given are for general information...,NaN,NaN
3,*,Not all on this points score were offered places,NaN,NaN
4,#,Test / Interview / Portfolio / Audition,NaN,NaN
...,...,...,...,...
489,WD188,Applied Health Care,206,339
490,WD205,Molecular Biology with Biopharmaceutical Science,208,441
491,WD206,Electronic Engineering,191,322
492,WD207,Mechanical Engineering,179,330
493,WD208,Manufacturing Engineering,195,330

In [52]:
# Extract Course Codes only

courses2021_8 = df2021_8[['COURSE CODE2', 'COURSE TITLE']]
courses2021_67 = df2021_67[['COURSE CODE2', 'COURSE TITLE']]
courses2020 = df2020[['COURSE CODE2', 'COURSE TITLE']]

In [53]:
courses2021_67

    COURSE CODE2                                      COURSE TITLE
0          AL605                   Music and Instrument Technology
1          AL630                               Pharmacy Technician
2          AL631                                    Dental Nursing
3          AL632                                   Applied Science
4          AL650                                          Business
..           ...                                               ...
411        WD188                               Applied Health Care
412        WD205  Molecular Biology with Biopharmaceutical Science
413        WD206                            Electronic Engineering
414        WD207                            Mechanical Engineering
415        WD208                         Manufacturing Engineering

[416 rows x 2 columns]

In [54]:
# Combining the lists of courses. The ignore_index parameter indicates that the original index columns of both 
# dataframes are not used but rather a new combines index is created
allcourses = pd.concat([courses2020, courses2021_8, courses2021_67], ignore_index=True)
allcourses

     COURSE CODE2                                       COURSE TITLE
0           AC120                             International Business
1           AC137                                       Liberal Arts
2           AD101   First Year Art & Design (Common Entry,portfolio)
3           AD102  Graphic Design and Moving Image Design (portfo...
4           AD103  Textile & Surface Design and Jewellery & Objec...
...           ...                                                ...
2824        WD188                                Applied Health Care
2825        WD205   Molecular Biology with Biopharmaceutical Science
2826        WD206                             Electronic Engineering
2827        WD207                             Mechanical Engineering
2828        WD208                          Manufacturing Engineering

[2829 rows x 2 columns]

In [55]:
# Check if any rows are duplicated
allcourses[allcourses.duplicated(subset='COURSE CODE2')]

     COURSE CODE2                                       COURSE TITLE
1464        AL801     Software Design for Virtual Reality and Gaming
1465        AL802  Software Design in Artificial Intelligence for...
1466        AL803  Software Design for Mobile Apps and Connected ...
1467        AL805    Computer Engineering for Network Infrastructure
1468        AL810                                 Quantity Surveying
...           ...                                                ...
2824        WD188                                Applied Health Care
2825        WD205   Molecular Biology with Biopharmaceutical Science
2826        WD206                             Electronic Engineering
2827        WD207                             Mechanical Engineering
2828        WD208                          Manufacturing Engineering

[1290 rows x 2 columns]

In [56]:
# Drop duplicates based on Course Code Column. Again ignore_index "resets" the index
allcourses = allcourses.drop_duplicates(subset=['COURSE CODE2'], ignore_index=True)
allcourses

     COURSE CODE2                                       COURSE TITLE
0           AC120                             International Business
1           AC137                                       Liberal Arts
2           AD101   First Year Art & Design (Common Entry,portfolio)
3           AD102  Graphic Design and Moving Image Design (portfo...
4           AD103  Textile & Surface Design and Jewellery & Objec...
...           ...                                                ...
1534        LC397                       Business Studies with Sports
1535        SG139                              Business in Marketing
1536        SG335  Engineering in Mechatronic Systems (Interview ...
1537        TL742                            Construction Management
1538        TL774              Inclusive Sport and Physical Activity

[1539 rows x 2 columns]

In [57]:
print('all cells running ok')

all cells running ok

<br>

<a id= 'references'></a>
## **References Used**

<a id='reference1'></a> [[1] Wikipedia Contributors, 2021: *Central Applications Office*](https://en.wikipedia.org/wiki/Central_Applications_Office) (Accessed 2 November 2021)

<a id='reference2'></a> [[2] : Citizens Information Board, 2021: *College application and entrance requirements*](https://www.citizensinformation.ie/en/education/third_level_education/applying_to_college/application_procedures_and_entry_requirements.html) (Accessed 2 November 2021)

<a id='reference3'></a> [[3] Citizens Information Board, 2021: *Third-level education in Ireland*](https://www.citizensinformation.ie/en/education/third_level_education/colleges_and_qualifications/third_level_education_in_ireland.html) (Accessed 2 November 2021)

<a id='reference4'></a> [[4] Quality and Qualifications Ireland, 2021: *IRISH NATIONAL FRAMEWORK OF QUALIFICATIONS (NFQ)*](https://nfq.qqi.ie/) (Accessed 10 December 2021)

<a id='reference5'></a> [[5] Wikipedia Contributors, 2021: *The points system*](https://en.wikipedia.org/wiki/Central_Applications_Office#The%20Points%20System) (Accessed 2 November 2021)

<a id='reference6'></a> [[6] Central Applications Office Ltd., 2021: *Irish Leaving Certificate Examination Points Calculation Grid*](http://www.cao.ie/index.php?page=scoring&s=lcepointsgrid) (Accessed 2 November 2021)

<a id='reference7'></a> [[7] Central Applications Office Ltd., 2021: *Offer Round Dates and Reply Dates*](https://www.cao.ie/help_files/round_dates.php) (Accessed 2 November 2021)

<a id='reference8'></a> [[8] ARIGA, A., 2019: *Getting Started*](https://tabula-py.readthedocs.io/en/latest/getting_started.html#) (Accessed 30 October 2021)

<a id='reference9'></a> [[9] soumilshah1995, 2019: *How to extract tables from online PDF as Pandas DF in Python*](https://www.youtube.com/watch?v=6QSe_hlsUPc) (Accessed 30 October 2021)

<a id='reference10'></a> [[10] Python Software Foundation, 2021: *tabula-py 2.3.0*](https://pypi.org/project/tabula-py/) (Accessed 30 October 2021)

<a id='reference11'></a> [[11] ARIGA, A., 2019: *tabula.io.convert_into*](https://tabula-py.readthedocs.io/en/latest/tabula.html#tabula.io.convert_into) (Accessed 30 October 2021)

<a id='reference12'></a> [[12] The pandas development team, 2021: *pandas.DataFrame.dropna*](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dropna.html) (Accessed 16 December 2021)

<a id='reference13'></a> [[13] Data to Fish, 2021: *How to Drop Rows with NaN Values in Pandas DataFrame*](https://datatofish.com/dropna/) (Accessed 18 December 2021)

<a id='reference13'></a> [[14] The pandas development team, 2021: *pandas.DataFrame.set_index*](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.set_index.html) (Accessed 16 December 2021)